<%- include('includes/header') %>
<form class="mt-3 mb-5" action="/logout" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <button type="submit" class="btn btn-secondary btn-lg btn-block">Log Out</button>
</form>

<!-- SUCCESS MESSAGE -->
<% success.forEach(function(message) { %>
  <div class="alert alert-success mt-2 text-center small py-1"><%= message %></div>
<% }) %>
<!-- Form Element-->
<form action="/create-week" method="POST" id="create-week" autocomplete="off">
  <!-- Select Student -->
  <select required id="student" name="studentId" form="create-week" class="custom-select custom-select-lg mb-3">
    <option value="">Choose a student</option>
    <% studentList.forEach(function(student) { %>
      <option value="<%= student._id %>"><%= student.fName %> <%= student.lName %></option>
    <% }) %>
  </select>
  <!-- Name of Piece -->
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Name of Piece</span>
    </div>
    <input required type="text" class="form-control" name="pieceName" autocomplete="off">
  </div>
  <br>
  <!-- Rubric Radio Buttons-->
  <div class="px-0 rubric-grid">
    <div class="row m-0 text-center row-border">
      <div class="col-sm rhythm">
        <b>Pulse and Rhythm</b>
      </div>
      <div class="col-sm coordination">
        <b>Pitch</b>
      </div>
      <div class="col-sm tone">
        <b>Articulation</b>
      </div>
      <div class="col-sm dynamics">
        <b>Dynamics</b>
      </div>
      <div class="col-sm stylistic">
        <b>Coordination</b>
      </div>
    </div>
    <div class="row text-center m-0 eagle row-border">
      <div class="col-sm iconContainer eagle">
        <input required autocomplete="off" type="radio" name="rhythm" value="5" id="rhythmEagle"><label for="rhythmEagle"><img class="interactiveIcon" src="../images/eagle.ico" alt=""><br>I can play all sections with nuanced pulse and rhythms.</label>
      </div>
      <div class="col-sm iconContainer eagle">
        <input required autocomplete="off" type="radio" name="coordination" value="5" id="coordinationEagle"><label for="coordinationEagle"><img class="interactiveIcon" src="../images/eagle.ico" alt=""><br>I can play all notes correctly.<br><strong>**exam standard**</strong></label>
      </div>
      <div class="col-sm iconContainer eagle">
        <input required autocomplete="off" type="radio" name="tone" value="5" id="toneEagle"><label for="toneEagle"><img class="interactiveIcon" src="../images/eagle.ico" alt=""><br>I can play all marked articulation with nuance.</label>
      </div>
      <div class="col-sm iconContainer eagle">
        <input required autocomplete="off" type="radio" name="dynamics" value="5" id="dynamicsEagle"><label for="dynamicsEagle"><img class="interactiveIcon" src="../images/eagle.ico" alt=""><br>I can play all marked dynamics with nuance.</label>
      </div>
      <div class="col-sm iconContainer eagle">
        <input required autocomplete="off" type="radio" name="stylistic" value="5" id="stylisticEagle"><label for="stylisticEagle"><img class="interactiveIcon" src="../images/eagle.ico" alt=""><br>I can play all sections fluidly and easily.<br><strong>**exam standard**</strong></label>
      </div>
    </div>
    
    <div class="row m-0 text-center octopus row-border">
      <div class="col-sm iconContainer octopus">
        <input required autocomplete="off" type="radio" name="rhythm" value="4" id="rhythmOctopus"><label for="rhythmOctopus"><img class="interactiveIcon" src="../images/octopus.ico" alt=""><br>I can play all sections with the correct pulse and rhythms.<br><strong>**exam standard**</strong></label>
      </div>
      <div class="col-sm iconContainer octopus">
        <input required autocomplete="off" type="radio" name="coordination" value="4" id="coordinationOctopus"><label for="coordinationOctopus"><img class="interactiveIcon" src="../images/octopus.ico" alt=""><br>I can play most of the notes correctly.</label>
      </div>
      <div class="col-sm iconContainer octopus">
        <input required autocomplete="off" type="radio" name="tone" value="4" id="toneOctopus"><label for="toneOctopus"><img class="interactiveIcon" src="../images/octopus.ico" alt=""><br>I can play all marked articulation correctly.<br><strong>**exam standard**</strong></label>
      </div>
      <div class="col-sm iconContainer octopus">
        <input required autocomplete="off" type="radio" name="dynamics" value="4" id="dynamicsOctopus"><label for="dynamicsOctopus"><img class="interactiveIcon" src="../images/octopus.ico" alt=""><br>I can play all  marked dynamics correctly.<br><strong>**exam standard**</strong></label>
      </div>
      <div class="col-sm iconContainer octopus">
        <input required autocomplete="off" type="radio" name="stylistic" value="4" id="stylisticOctopus"><label for="stylisticOctopus"><img class="interactiveIcon" src="../images/octopus.ico" alt=""><br>I can play most sections fluidly and easily.</label>
      </div>
    </div>
   
    <div class="row m-0 text-center koala row-border">
      <div class="col-sm iconContainer koala">
        <input required autocomplete="off" type="radio" name="rhythm" value="3" id="rhythmKoala"><label for="rhythmKoala"><img class="interactiveIcon" src="../images/koala.ico" alt=""><br>I can play most sections with the correct pulse and rhythms.</label>
      </div>
      <div class="col-sm iconContainer koala">
        <input required autocomplete="off" type="radio" name="coordination" value="3" id="coordinationKoala"><label for="coordinationKoala"><img class="interactiveIcon" src="../images/koala.ico" alt=""><br>I can play about half of the notes correctly.</label>
      </div>
      <div class="col-sm iconContainer koala">
        <input required autocomplete="off" type="radio" name="tone" value="3" id="toneKoala"><label for="toneKoala"><img class="interactiveIcon" src="../images/koala.ico" alt=""><br>I can play most marked articulation correctly.</label>
      </div>
      <div class="col-sm iconContainer koala">
        <input required autocomplete="off" type="radio" name="dynamics" value="3" id="dynamicsKoala"><label for="dynamicsKoala"><img class="interactiveIcon" src="../images/koala.ico" alt=""><br>I can play most marked dynamics correctly.</label>
      </div>
      <div class="col-sm iconContainer koala">
        <input required autocomplete="off" type="radio" name="stylistic" value="3" id="stylisticKoala"><label for="stylisticKoala"><img class="interactiveIcon" src="../images/koala.ico" alt=""><br>I can play about half of the sections fluidly and easily.</label>
      </div>
    </div>
   
    <div class="row m-0 text-center jellyfish row-border">
      <div class="col-sm iconContainer jellyfish">
        <input required autocomplete="off" type="radio" name="rhythm" value="2" id="rhythmJellyfish"><label for="rhythmJellyfish"><img class="interactiveIcon" src="../images/jellyfish.ico" alt=""><br>I can play some sections with the correct pulse and rhythms.</label>
      </div>
      <div class="col-sm iconContainer jellyfish">
        <input required autocomplete="off" type="radio" name="coordination" value="2" id="coordinationJellyfish"><label for="coordinationJellyfish"><img class="interactiveIcon" src="../images/jellyfish.ico" alt=""><br>I can play some notes correctly.</label>
      </div>
      <div class="col-sm iconContainer jellyfish">
        <input required autocomplete="off" type="radio" name="tone" value="2" id="toneJellyfish"><label for="toneJellyfish"><img class="interactiveIcon" src="../images/jellyfish.ico" alt=""><br>I can play some marked articulation correctly.</label>
      </div>
      <div class="col-sm iconContainer jellyfish">
        <input required autocomplete="off" type="radio" name="dynamics" value="2" id="dynamicsJellyfish"><label for="dynamicsJellyfish"><img class="interactiveIcon" src="../images/jellyfish.ico" alt=""><br>I can play some marked dynamics correctly.</label>
      </div>
      <div class="col-sm iconContainer jellyfish">
        <input required autocomplete="off" type="radio" name="stylistic" value="2" id="stylisticJellyfish"><label for="stylisticJellyfish"><img class="interactiveIcon" src="../images/jellyfish.ico" alt=""><br>I can play some sections fluidly and easily.</label>
      </div>
    </div>
  
    <div class="row m-0 text-center bear row-border">
      <div class="col-sm iconContainer bear">
        <input required autocomplete="off" type="radio" name="rhythm" value="1" id="rhythmBear"><label for="rhythmBear"><img class="interactiveIcon" src="../images/bear.ico" alt=""><br>I need an explanation of the pulse and rhythms.</label>
      </div>
      <div class="col-sm iconContainer bear">
        <input required autocomplete="off" type="radio" name="coordination" value="1" id="coordinationBear"><label for="coordinationBear"><img class="interactiveIcon" src="../images/bear.ico" alt=""><br>I need an explanation of how to find the correct notes.</label>
      </div>
      <div class="col-sm iconContainer bear">
        <input required autocomplete="off" type="radio" name="tone" value="1" id="toneBear"><label for="toneBear"><img class="interactiveIcon" src="../images/bear.ico" alt=""><br>I need an explanation of the marked articulation.</label>
      </div>
      <div class="col-sm iconContainer bear">
        <input required autocomplete="off" type="radio" name="dynamics" value="1" id="dynamicsBear"><label for="dynamicsBear"><img class="interactiveIcon" src="../images/bear.ico" alt=""><br>I need an explanation of the marked dynamics.</label>
      </div>
      <div class="col-sm iconContainer bear">
        <input required autocomplete="off" type="radio" name="stylistic" value="1" id="stylisticBear"><label for="stylisticBear"><img class="interactiveIcon" src="../images/bear.ico" alt=""><br>I need an explanation of the proper body movements.</label>
      </div>
    </div>
  </div>
  <!-- Tech A-->
  <hr>
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Task A</span>
    </div>
    <input required type="text" class="form-control" name="techAName" autocomplete="off">
  </div>
  <br>
  <div class="rubric-grid">
    <div class="row row-border m-0 text-center">
      <div class="col-sm iconContainer bear">
        <input required autocomplete="off" type="radio" name="techAScore" value="1" id="techABear"><label for="techABear"><img class="interactiveIcon" src="../images/bear.ico" alt=""><br>Just started</label>
      </div>
      <div class="col-sm iconContainer jellyfish">
        <input required autocomplete="off" type="radio" name="techAScore" value="2" id="techAjellyfish"><label for="techAjellyfish"><img class="interactiveIcon" src="../images/jellyfish.ico" alt=""><br>Getting better</label>
      </div>
      <div class="col-sm iconContainer koala">
        <input required autocomplete="off" type="radio" name="techAScore" value="3" id="techAKoala"><label for="techAKoala"><img class="interactiveIcon" src="../images/koala.ico" alt=""><br>Getting comfortable</label>
      </div>
      <div class="col-sm iconContainer octopus">
        <input required autocomplete="off" type="radio" name="techAScore" value="4" id="techAOctopus"><label for="techAOctopus"><img class="interactiveIcon" src="../images/octopus.ico" alt=""><br>Becoming great</label>
      </div>
      <div class="col-sm iconContainer eagle">
        <input required autocomplete="off" type="radio" name="techAScore" value="5" id="techAEagle"><label for="techAEagle"><img class="interactiveIcon" src="../images/eagle.ico" alt=""><br>Excellence</label>
      </div>
    </div>
  </div>
  <hr>
  <!-- Tech B-->
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Task B</span>
    </div>
    <input required type="text" class="form-control" name="techBName" autocomplete="off">
  </div>
  <br>
  <div class="rubric-grid">
    <div class="row row-border m-0 text-center">
      <div class="col-sm iconContainer bear">
        <input required autocomplete="off" type="radio" name="techBScore" value="1" id="techBBear"><label for="techBBear"><img class="interactiveIcon" src="../images/bear.ico" alt=""><br>Just started</label>
      </div>
      <div class="col-sm iconContainer jellyfish">
        <input required autocomplete="off" type="radio" name="techBScore" value="2" id="techBjellyfish"><label for="techBjellyfish"><img class="interactiveIcon" src="../images/jellyfish.ico" alt=""><br>Getting better</label>
      </div>
      <div class="col-sm iconContainer koala">
        <input required autocomplete="off" type="radio" name="techBScore" value="3" id="techBKoala"><label for="techBKoala"><img class="interactiveIcon" src="../images/koala.ico" alt=""><br>Getting comfortable</label>
      </div>
      <div class="col-sm iconContainer octopus">
        <input required autocomplete="off" type="radio" name="techBScore" value="4" id="techBOctopus"><label for="techBOctopus"><img class="interactiveIcon" src="../images/octopus.ico" alt=""><br>Becoming great</label>
      </div>
      <div class="col-sm iconContainer eagle">
        <input required autocomplete="off" type="radio" name="techBScore" value="5" id="techBEagle"><label for="techBEagle"><img class="interactiveIcon" src="../images/eagle.ico" alt=""><br>Excellence</label>
      </div>
    </div>
  </div>
  <hr>
  <!-- General Comments -->
  <h2 class="text-center display-4 mb-4">Lesson Notes</h2>
  <div class="form-group">
    <textarea required autocomplete="off" name="comments" class="form-control" id="comments" rows="20"></textarea>
  </div>
  <hr>

  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

  <!-- Submit Button-->
  <button class="btn my-4 btn-success btn-block" type="submit">Create Week</button>
</form>

<div class="black-text mb-3" id="lastLessonDiv"></div>
<div class="white-text" id="conversationDiv"></div>


<script>
  // select all radio inputs
  // check if checked then update parent div accordingly
  document.addEventListener('click', function() {
    let allRadio = document.querySelectorAll('input[type=radio]')
    allRadio.forEach(function(input) {
      if (input.checked) {
        switch (input.value) {
        case '1': 
          input.parentElement.classList.remove('bear')
          input.parentElement.classList.add('bearSelected')
          break
        case '2':
          input.parentElement.classList.remove('jellyfish')
          input.parentElement.classList.add('jellyfishSelected')
          break
        case '3':
          input.parentElement.classList.remove('koala')
          input.parentElement.classList.add('koalaSelected')
          break
        case '4':
          input.parentElement.classList.remove('octopus')
          input.parentElement.classList.add('octopusSelected')
          break
        case '5':
          input.parentElement.classList.remove('eagle')
          input.parentElement.classList.add('eagleSelected')
          break
        }
      } else {
        switch (input.value) {
        case '1': 
          input.parentElement.classList.add('bear')
          input.parentElement.classList.remove('bearSelected')
          break
        case '2':
          input.parentElement.classList.add('jellyfish')
          input.parentElement.classList.remove('jellyfishSelected')
          break
        case '3':
          input.parentElement.classList.add('koala')
          input.parentElement.classList.remove('koalaSelected')
          break
        case '4':
          input.parentElement.classList.add('octopus')
          input.parentElement.classList.remove('octopusSelected')
          break
        case '5':
          input.parentElement.classList.add('eagle')
          input.parentElement.classList.remove('eagleSelected')
          break
        }
      }
      
    })
  })
</script>
<%- include('includes/footer') %>