<%- include('includes/header') %>
<!-- SUCCESS MESSAGE -->
<% success.forEach(function(message) { %>
  <div class="alert alert-success mt-2 text-center small py-1"><%= message %></div>
<% }) %>
<div class="jumbotron p-3 my-4"><h1 class="display-4 text-center">Progress Logging</h1></div>
<!-- Form Element-->
<form action="/create-week" method="POST" id="create-week" autocomplete="off">
  <!-- Select Student -->
  <select required id="student" name="studentId" form="create-week" class="custom-select custom-select-lg mb-3">
    <option value="">Choose a student</option>
    <% studentList.forEach(function(student) { %>
      <option value="<%= student._id %>"><%= student.fName %> <%= student.lName %></option>
    <% }) %>
  </select>
  <!-- Name of Piece -->
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Name of Piece</span>
    </div>
    <input required type="text" class="form-control" name="pieceName" autocomplete="off">
  </div>
  <br>
  <!-- Rubric Radio Buttons-->
  <div class="px-0 rubric-grid">
    <div class="row m-0 text-center row-border">
      <div class="col-sm rhythm">
        <b>Rhythm and Pulse</b>
      </div>
      <div class="col-sm coordination">
        <b>Coordination and Pitch</b>
      </div>
      <div class="col-sm tone">
        <b>Tone and Articulation</b>
      </div>
      <div class="col-sm dynamics">
        <b>Dynamics and Balance</b>
      </div>
      <div class="col-sm stylistic">
        <b>Stylistic Awareness</b>
      </div>
    </div>
    <div class="row text-center m-0 eagle row-border">
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="rhythm" value="5" id="rhythmEagle"><label for="rhythmEagle">Very steady pulse with even and precise rhythmic subdivisions throughout.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="coordination" value="5" id="coordinationEagle"><label for="coordinationEagle">Relaxed and precise coordination with exact unisons, independent rhythms, and highly accurate pitch.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="tone" value="5" id="toneEagle"><label for="toneEagle">Very accurate with appropriate use of fingers, wrist, and arm, producing a warm tone.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="dynamics" value="5" id="dynamicsEagle"><label for="dynamicsEagle">All dynamics executed precisely with all parts very well balanced.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="stylistic" value="5" id="stylisticEagle"><label for="stylisticEagle">Convincing musical style very well conveyed with confidence and nuance.</label>
      </div>
    </div>
    <div class="row m-0 text-center row-border">
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="rhythm" value="4.5" id="rhythmOctopusBonus"><label for="rhythmOctopusBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="coordination" value="4.5" id="coordinationOctopusBonus"><label for="coordinationOctopusBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="tone" value="4.5" id="toneOctopusBonus"><label for="toneOctopusBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="dynamics" value="4.5" id="dynamicsOctopusBonus"><label for="dynamicsOctopusBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="stylistic" value="4.5" id="stylisticOctopusBonus"><label for="stylisticOctopusBonus">As below + bonus!</label>
      </div>
    </div>
    <div class="row m-0 text-center octopus row-border">
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="rhythm" value="4" id="rhythmOctopus"><label for="rhythmOctopus">Steady pulse with mostly even and precise rhythmic subdivision.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="coordination" value="4" id="coordinationOctopus"><label for="coordinationOctopus">Precise coordination with exact unisons, mostly independent rhythms, and mostly accurate pitch.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="tone" value="4" id="toneOctopus"><label for="toneOctopus">Accurate with appropriate use of fingers, wrist, and arm, producing a warm tone.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="dynamics" value="4" id="dynamicsOctopus"><label for="dynamicsOctopus">Most dynamics executed precisely with most parts well balanced.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="stylistic" value="4" id="stylisticOctopus"><label for="stylisticOctopus">General sense of musical style well conveyed with confidence.</label>
      </div>
    </div>
    <div class="row m-0 text-center row-border">
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="rhythm" value="3.5" id="rhythmKoalaBonus"><label for="rhythmKoalaBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="coordination" value="3.5" id="coordinationKoalaBonus"><label for="coordinationKoalaBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="tone" value="3.5" id="toneKoalaBonus"><label for="toneKoalaBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="dynamics" value="3.5" id="dynamicsKoalaBonus"><label for="dynamicsKoalaBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="stylistic" value="3.5" id="stylisticKoalaBonus"><label for="stylisticKoalaBonus">As below + bonus!</label>
      </div>
    </div>
    <div class="row m-0 text-center koala row-border">
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="rhythm" value="3" id="rhythmKoala"><label for="rhythmKoala">Quite steady pulse with mostly even rhythmic subdivision.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="coordination" value="3" id="coordinationKoala"><label for="coordinationKoala">Coordination with some tension, approximate unisons, mostly independent rhythms, and mostly accurate pitch.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="tone" value="3" id="toneKoala"><label for="toneKoala">Mostly accurate with some use of fingers, wrist, and arm in tone production.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="dynamics" value="3" id="dynamicsKoala"><label for="dynamicsKoala">Most dynamics executed well with some balance in the parts.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="stylistic" value="3" id="stylisticKoala"><label for="stylisticKoala">General sense of musical style conveyed with minor details needing attention.</label>
      </div>
    </div>
    <div class="row m-0 text-center row-border">
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="rhythm" value="2.5" id="rhythmJellyfishBonus"><label for="rhythmJellyfishBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="coordination" value="2.5" id="coordinationJellyfishBonus"><label for="coordinationJellyfishBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="tone" value="2.5" id="toneJellyfishBonus"><label for="toneJellyfishBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="dynamics" value="2.5" id="dynamicsJellyfishBonus"><label for="dynamicsJellyfishBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="stylistic" value="2.5" id="stylisticJellyfishBonus"><label for="stylisticJellyfishBonus">As below + bonus!</label>
      </div>
    </div>
    <div class="row m-0 text-center jellyfish row-border">
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="rhythm" value="2" id="rhythmJellyfish"><label for="rhythmJellyfish">Fluctuating pulse with rhythm subdivisions generally lacking precision.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="coordination" value="2" id="coordinationJellyfish"><label for="coordinationJellyfish">Tense coordination with some rough unisons, somewhat compromised independent rhythms, and somewhat inaccurate pitch.
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="tone" value="2" id="toneJellyfish"><label for="toneJellyfish">Mostly accurate with little use of fingers, wrist, and arm in tone production.
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="dynamics" value="2" id="dynamicsJellyfish"><label for="dynamicsJellyfish">Dynamics executed imprecisely with little balance in the parts.
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="stylistic" value="2" id="stylisticJellyfish"><label for="stylisticJellyfish">Sense of musical style somewhat present with important details needing attention.
      </div>
    </div>
    <div class="row m-0 text-center row-border">
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="rhythm" value="1.5" id="rhythmBearBonus"><label for="rhythmBearBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="coordination" value="1.5" id="coordinationBearBonus"><label for="coordinationBearBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="tone" value="1.5" id="toneBearBonus"><label for="toneBearBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="dynamics" value="1.5" id="dynamicsBearBonus"><label for="dynamicsBearBonus">As below + bonus!</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="stylistic" value="1.5" id="stylisticBearBonus"><label for="stylisticBearBonus">As below + bonus!</label>
      </div>
    </div>
    <div class="row m-0 text-center bear row-border">
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="rhythm" value="1" id="rhythmBear"><label for="rhythmBear">Sporadic pulse and loose rhythmic subdivisions.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="coordination" value="1" id="coordinationBear"><label for="coordinationBear">Highly tense coordination with rough unisons, generally compromised independent rhythms, and generally inaccurate pitch.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="tone" value="1" id="toneBear"><label for="toneBear">General inaccuracy with generally harsh tone.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="dynamics" value="1" id="dynamicsBear"><label for="dynamicsBear">Dynamics not observed with a lack of balance in the parts.</label>
      </div>
      <div class="col-sm">
        <input required autocomplete="off" type="radio" name="stylistic" value="1" id="stylisticBear"><label for="stylisticBear">Musical style not conveyed.</label>
      </div>
    </div>
  </div>
  <!-- Tech A-->
  <hr>
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Name of Tech A</span>
    </div>
    <input required type="text" class="form-control" name="techAName" autocomplete="off">
  </div>
  <br>
  <div class="rubric-grid">
    <div class="row row-border m-0 text-center">
      <div class="col-sm bear">
        <input required autocomplete="off" type="radio" name="techAScore" value="1" id="techABear"><label for="techABear">Uneven and rough coordination, inconsistent articulation and dynamics, and generally inaccurate pitch, at a slow tempo.</label>
      </div>
      <div class="col-sm jellyfish">
        <input required autocomplete="off" type="radio" name="techAScore" value="2" id="techAjellyfish"><label for="techAjellyfish">Some unevenness and compromised coordination, inconsistent articulation and dynamics, and somewhat inaccurate pitch, at a reasonable tempo.</label>
      </div>
      <div class="col-sm koala">
        <input required autocomplete="off" type="radio" name="techAScore" value="3" id="techAKoala"><label for="techAKoala">Even and mostly coordinated, appropriate articulation and dynamics, and mostly accurate pitch, at a reasonable tempo.</label>
      </div>
      <div class="col-sm octopus">
        <input required autocomplete="off" type="radio" name="techAScore" value="4" id="techAOctopus"><label for="techAOctopus">Very even and well-coordinated, appropriate articulation and dynamics, and mostly accurate pitch, at a reasonable tempo.</label>
      </div>
      <div class="col-sm eagle">
        <input required autocomplete="off" type="radio" name="techAScore" value="5" id="techAEagle"><label for="techAEagle">Exceptional evenness and coordination, precise articulation and dynamics, and highly accurate pitch, at a fast tempo.</label>
      </div>
    </div>
  </div>
  <hr>
  <!-- Tech B-->
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Name of Tech B</span>
    </div>
    <input required type="text" class="form-control" name="techBName" autocomplete="off">
  </div>
  <br>
  <div class="rubric-grid">
    <div class="row row-border m-0 text-center">
      <div class="col-sm bear">
        <input required autocomplete="off" type="radio" name="techBScore" value="1" id="techBBear"><label for="techBBear">Uneven and rough coordination, inconsistent articulation and dynamics, and generally inaccurate pitch, at a slow tempo.</label>
      </div>
      <div class="col-sm jellyfish">
        <input required autocomplete="off" type="radio" name="techBScore" value="2" id="techBjellyfish"><label for="techBjellyfish">Some unevenness and compromised coordination, inconsistent articulation and dynamics, and somewhat inaccurate pitch, at a reasonable tempo.</label>
      </div>
      <div class="col-sm koala">
        <input required autocomplete="off" type="radio" name="techBScore" value="3" id="techBKoala"><label for="techBKoala">Even and mostly coordinated, appropriate articulation and dynamics, and mostly accurate pitch, at a reasonable tempo.</label>
      </div>
      <div class="col-sm octopus">
        <input required autocomplete="off" type="radio" name="techBScore" value="4" id="techBOctopus"><label for="techBOctopus">Very even and well-coordinated, appropriate articulation and dynamics, and mostly accurate pitch, at a reasonable tempo.</label>
      </div>
      <div class="col-sm eagle">
        <input required autocomplete="off" type="radio" name="techBScore" value="5" id="techBEagle"><label for="techBEagle">Exceptional evenness and coordination, precise articulation and dynamics, and highly accurate pitch, at a fast tempo.</label>
      </div>
    </div>
  </div>
  <hr>
  <!-- General Comments -->
  <h2 class="text-center display-4 mb-4">Lesson Notes</h2>
  <div class="form-group">
    <textarea required autocomplete="off" name="comments" class="form-control" placeholder="General comments and suggestions for home practice; feel free to drag the bottom-right corner to expand" id="comments" rows="50"></textarea>
  </div>
  <hr>

  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

  <!-- Submit Button-->
  <button class="btn my-4 btn-success btn-block" type="submit">Create Week</button>
</form>
<%- include('includes/footer') %>