<%- include('includes/header') %>
<!--SNOWFLAKES FOR WINTER-->
<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
</div>

<!-- ERRORS -->
<% adErrors.forEach(function(message) { %>
  <div class="alert alert-danger text-center small py-1 mt-2"><%= message %></div>
<% }) %>

<div class="wallet-div bellota grey-text inline draggable">
  <strong style="color: <%= leaderboardColor %>"><%= username %></strong>'s wallet<br>
  <span class="pink-text"><strong><%= points %></strong></span> points<br>
  <span class="yellow-text"><%= lessonCount %></span>/<span class="orange-text"><%= paidLessons %></span> lessons<br>
  <a href="/practice" type="button" class="my-1 btn btn-info btn-sm">Practice</a>
  <a href="/parents" type="button" class="my-1 btn btn-warning btn-sm">Record</a><br>
  <a href="/missions" type="button" class="my-1 btn btn-danger btn-sm">Missions</a>
  <a href="/leaderboard" type="button" class="my-1 btn btn-success btn-sm">Prizes</a>
  <form id="logoutButton" class="mt-1 mb-2" action="/logout" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit" class="btn btn-secondary btn-sm">Log Out</button>
  </form>
</div>

<!-- PRIZES -->

<div id="prizeList" class="section">
  <div class="py-4 my-4 mb-4 mx-0"><h1 class="px-5 display-2 recursive rainbowText text-center">PRIZES & PRICES</h1>
    <h2 class="grey-text text-center handlee pb-2 pt-0 mt-0">Can't find something you like?</h2>
    <div class="text-center"><a href="/contact" class="btn btn-outline-success btn-sm" style="font-size: 1.2rem;">Click to tell Hanford what you want</a></div>
  </div>
</div>

<!-- TICKER -->
<div class="news bkground">
  <span class="text1"><marquee>Work hard consistently, earn points, and get rewards!</marquee></span>
</div>

<table class="mt-0 pt-0 table text-center table-dark">
  <thead>
    <tr class="">
      <th class="grey-text" scope="col">PRIZE</th>
      <th class="grey-text" scope="col">PRICE</th>
    </tr>
  </thead>
  <tbody>
    <% prizeList.forEach((prize) => { %>
      <tr>
        <td><span style="color:<%= prize.color %>"><%= prize.title %></span><small class="text-muted ml-2"> <%= prize.desc %></small></td>
        <td class="pink-text recursive"><%= prize.price %></td>
      </tr>
      <% }) %>
  </tbody>
</table>
  

<%- include('includes/footer') %>