<%- include('includes/header') %>

<!-- ERRORS -->
<% adErrors.forEach(function(message) { %>
  <div class="alert alert-danger text-center small py-1 mt-2"><%= message %></div>
<% }) %>

<!-- GREETINGS -->
<div class="text-center mb-2 mt-3">
  <a href="/practice" type="button" class="mx-2 my-1 btn btn-outline-info btn-lg">Practice</a>
  <a href="/missions" type="button" class="mx-2 my-1 btn btn-outline-danger btn-lg">Missions</a>
  <a href="/leaderboard" type="button" class="mx-2 my-1 btn btn-outline-success btn-lg">Points</a>
  <a href="/parents" type="button" class="mx-2 my-1 btn btn-outline-warning btn-lg">Parents</a>
</div>

  <!-- LEADERBOARD -->
  <div id="leaderboard" class="section">
    <div class="py-4 my-4 mb-4 mx-0"><h1 class="px-5 display-2 recursive rainbowText text-center">PIANO POINTS</h1>
      <h2 class="white-text text-center handlee pb-2 pt-0 mt-0">Work together to unlock rewards</h2></div>
  </div>

  <div id="leaderboard-blurb" class="alert alert-success text-center mb-3 mt-3 pt-4">
    <p class="recursive"><strong class="pink-text" style="font-size:5rem;"><%= totalPianoPoints %></strong></p>
    <span class="poppins">
      <% if(totalPianoPoints >= 5000){ %>
      <p class="milestone-text"><strong>5000 Milestone - Unlock starting rewards</strong></p>
    <% } else { %>
      <p class="nomilestone-text">5000 Milestone - Unlock starting rewards</p>
    <% }
    if(totalPianoPoints >= 7500){ %>
      <p><strong>7500 Milestone - Free lollies for everyone</strong></p>
    <% } else { %>
      <p class="nomilestone-text">7500 Milestone - Free lollies for everyone</p>
    <% }
    if(totalPianoPoints >= 10000){ %>
      <p><strong>10000 Milestone - Unlock more rewards</strong></p>
    <% }else{ %>
      <p class="nomilestone-text">10000 Milestone - Unlock more rewards</p>
    <% }
    if(totalPianoPoints >= 12500){ %>
      <p><strong>12500 Milestone - Free movie excursion</strong></p>
    <% } else { %>
      <p class="nomilestone-text">12500 Milestone - Free movie excursion for everyone</p>
    <% }
    if(totalPianoPoints >= 15000){ %>
      <p><strong>15000 Milestone - Unlock top rewards</strong></p>
    <% }else{ %>
      <p class="nomilestone-text">15000 Milestone - Unlock top rewards</p>
    <% }
    if(totalPianoPoints >= 17500){ %>
      <p><strong>17500 Milestone - Free adventure room for everyone</strong></p>
    <% }else{ %>
      <p class="nomilestone-text">17500 Milestone - Free adventure room for everyone</p>
    <% } %>
    </span>
    
  </div>
  <table class="mt-0 pt-0 table text-center table-dark">
    <thead>
      <tr class="">
        <th scope="col">Ranking</th>
        <th scope="col">Name</th>
        <th scope="col">Lessons</th>
        <th scope="col">Missions</th>
        <th scope="col">Contribution</th>
      </tr>
    </thead>
    <tbody>
      <% let i = 1 %>
      <% leaderboard.forEach((leader) => { %>
        <tr>
          <th  class="blue-text" scope="row"><%= i %></th>
          <td id="leader<%= i %>" class="langar">
            <p style="color: <%= leader.leaderboardColor %>" class="d-inline"><%= leader.username %></p>
            <!--ADD BADGES HERE-->
            <% if (leader.badges && leader.badges.includes("pioneer")) { %>
              <img class="leaderboard-badge" src="../images/pioneer.png">
            <% } %>
          </td>
          <td class="orange-text"><%= leader.lessonCount %></td>
          <% 
            let missionsComplete = 0
            // returns array of stringed key value pairs
            for (const [key, value] of Object.entries(leader.MissionStatuses)) {
              if (value) {
                missionsComplete +=1
              }
            }
          %>
          <td class="green-text"><%= missionsComplete %></td>
          <td class="pink-text"><%= leader.leaderboardScore %></td>
        </tr>
      <% i = i+1 %>
      <% }) %>
    </tbody>
  </table>

    <!--LOGOUT-->
    <form id="logoutButton" class="mt-5" action="/logout" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Log Out</button>
    </form>


<%- include('includes/footer') %>