<!doctype html>
<html lang="en" id="leaderboard-html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Handlee&family=Rye&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <!-- bootstrap5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Hanford Lam | Piano Teacher</title>
    <!-- CURSOR -->
    <style>HTML,BODY{cursor: url("../../images/cursor.cur"), auto;}</style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S7KLNXVSDD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-S7KLNXVSDD');
    </script>
  </head>
  <body class="container-fluid background-transparent">
    <!-- NAVBAR -->
    <nav id="myNav" class="rounded recursive row align-items-center text-center py-2 w-auto">
      <div class="col-lg-5">
        <a id="navIcon" class="my-2 d-block" href='/'>Hanford Lam | Piano Teacher</a>
      </div>
      <div class="col-lg-7">
        <a id="practiceTab" href="/practice" class="mx-4 my-2 d-inline-block navLink">PRACTICE</a>
        <a id="missionsTab" href="/missions" class="mx-4 my-2 d-inline-block navLink">MISSIONS</a>
        <a id="leaderboardTab" href="/leaderboard" class="mx-4 my-2 d-inline-block navLink">LEADERBOARD</a>
        <form id="logoutButton" class="mx-4 my-2 d-inline-block" action="/logout" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn btn-sm btn-secondary">LOG OUT</button>
        </form>        
      </div>
    </nav>
    

      <!-- DYNAMIC NAVBAR AND TITLE -->
      <script>
        let currentPath = window.location.pathname
        if (currentPath == '/practice') {
          document.getElementById("practiceTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        } else if (currentPath == '/missions') {
          document.getElementById("missionsTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        } else if (currentPath == '/leaderboard') {
          document.getElementById("leaderboardTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        }
      </script>
      <div id="container" class="container">

<!--Flowers FOR Spring-->
<%- include('includes/falling') %>

<!-- ERRORS -->
<% adErrors.forEach(function(message) { %>
  <div class="alert alert-danger text-center small py-1 mt-2"><%= message %></div>
<% }) %>

<!--WALLET-->
<%- include('includes/wallet') %>

<!-- TICKER -->
<div class="marquee recursive aboveFalling mt-5">
	<div>
		<span>Get rewarded for your engagement!</span>
		<span>Work hard, learn lots, have fun.</span>
		<span>Big things grow from small things...</span>
		<span>You can do it!</span>
		<span>Ask Hanford questions using the Conversation Box ðŸ¤”</span>
		<span>Want to leave your fellow pianists a message here?</span>
	</div>
</div>

<div class="table-responsive">
  <table class="my-0 py-0 table text-center table-hover table-light aboveFalling">
    <thead>
      <tr class="">
        <th class="black-text" scope="col">PRIZE</th>
        <th class="black-text" scope="col">PRICE</th>
      </tr>
    </thead>
    <tbody>
      <% prizeList.forEach((prize) => { %>
        <tr>
          <td><span style="color:<%= prize.color %>"><%= prize.title %></span><span class="mx-2"></span><small class="orange-text ml-2"> <%= prize.desc %></small></td>
          <td class="pink-text recursive"><%= prize.price %></td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</div>

<!-- WAYS TO EARN -->
<div class="table-responsive my-0 py-0">
  <table class="my-0 table text-center table-hover table-dark aboveFalling">
    <thead>
      <tr class="">
        <th class="white-text" scope="col">Ways to earn piano points</th>
      </tr>
    </thead>
    <tbody>
        <tr><td><span class="blue-text">Guessing the Tempo</span><span class="mx-2 orange-text">awards 1 to 15 points</span></td></tr>  
        <tr><td><span class="blue-text">Using the Conversation Box</span><span class="mx-2 orange-text">awards 5 to 10 points</span></td></tr>
        <tr><td><span class="blue-text">Completing a Technical mission</span><span class="mx-2 orange-text">awards 50 points</span></td></tr>
        <tr><td><span class="blue-text">Completing a Literacy mission</span><span class="mx-2 orange-text">awards 50 points</span></td></tr>
        <tr><td><span class="blue-text">Completing a Reading mission</span><span class="mx-2 orange-text">awards 50 points</span></td></tr>
        <tr><td><span class="blue-text">Passing an AMEB exam</span><span class="mx-2 orange-text">awards 300 points</span></td></tr>
        <tr><td><span class="blue-text">Performing for an event</span><span class="mx-2 orange-text">awards 300 points</span></td></tr>
        <tr><td><span class="blue-text">Passing an AMEB exam with A or A+</span><span class="mx-2 orange-text">awards 600 points</span></td></tr>
        
    </tbody>
  </table>
</div>

<div id="leaderboard-table" class="table-responsive my-0 py-0">
  <table class="my-0 table text-center table-hover aboveFalling" style="border-collapse: separate;border-spacing: 0;">
    <thead>
      <tr class="">
        <th class="white-text" scope="col"><strong class="rounded py-1 px-2" style="background-color: rgba(255, 77, 77, 0.912)">STUDENT</strong></th>
        <th class="white-text" scope="col"><strong class="rounded py-1 px-2" style="background-color: rgba(255, 77, 77, 0.912)">PIANO GRADE</strong></th>
        <th class="white-text" scope="col"><strong class="rounded py-1 px-2" style="background-color: rgba(255, 77, 77, 0.912)">POINTS</strong></th>
      </tr>
    </thead>
    <tbody>
      <% leaderboard.forEach((student) => { %>
        <tr class="">
          <% var badge = ""
          var username = student.username
          if (username == "sweetcutiepie") {
            badge = "ðŸ¬"
          } else if (username == "hypezart") {
            badge = "ðŸ¦"
          } else if (username == "IDK") {
            badge = "âšœâ”âšœ"
          } else if (username == "emma") {
            badge = "ðŸ¡"
          } else if (username == "MisoMaster") {
            badge = "ðŸ²"
          } else if (username == "isaac") {
            badge = "ðŸž"
          } else if (username == "jessie") {
            badge = "ðŸ¦š"
          } else if (username == "felix") {
            badge = "ðŸ¦‰"
          } else if (username == "blake26") {
            badge = "ðŸ¦¢"
          } else if (username == "jonathanp") {
            badge = "ðŸ¦ƒ"
          } else if (username == "daniel2006") {
            badge = "ðŸ¦”"
          } else if (username == "iris") {
            badge = "ðŸ‡"
          } else if (username == "paddy") {
            badge = "ðŸ»"
          } else if (username == "comfychair") {
            badge = "ðŸ¦“"
          } else if (username == "emilia") {
            badge = "ðŸ¦"
          } else if (username == "ryder") {
            badge = "ðŸ¦Š"
          } else if (username == "pianowizard") {
            badge = "ðŸ¿ï¸"
          } else if (username == "max") {
            badge = "ðŸ¦"
          } else if (username == "kittycat") {
            badge = "ðŸ±"
          } %>
          <!--REMOVE CASUAL-->
          <% if (username == ""){ 
          } else { %>
            <td id="<%= student.username %>" class="" data-bs-toggle="tooltip" data-bs-html="true" title="<%= student. studentBio %>"><strong class="rounded py-1 px-2" style="color:<%= student.leaderboardColor %>;background-color: rgba(000,000,000, 0.9);"><%= student.username + " " + badge %></strong></td>
            <td class="black-text recursive"><strong class="rounded py-1 px-2" style="background-color: rgba(255, 255, 255, 0.912)"><%= student.grade %></strong></td>
            <td class="pink-text recursive"><strong class="rounded py-1 px-2" style="background-color: rgba(121, 226, 245, 0.755)"><%= student.leaderboardScore %></strong></td>
          <% } %>
          
        </tr>
        <% }) %>
    </tbody>
  </table>
</div>
<script>
  // DRAGGABLE WALLET
  var dragItem = document.querySelector(".draggable");
  var container = document.querySelector("#container");

  var active = false;
  var currentX;
  var currentY;
  var initialX;
  var initialY;
  var xOffset = 0;
  var yOffset = 0;

  container.addEventListener("touchstart", dragStart, false);
  container.addEventListener("touchend", dragEnd, false);
  container.addEventListener("touchmove", drag, false);

  container.addEventListener("mousedown", dragStart, false);
  container.addEventListener("mouseup", dragEnd, false);
  container.addEventListener("mousemove", drag, false);

  function dragStart(e) {
    if (e.type === "touchstart") {
      initialX = e.touches[0].clientX - xOffset;
      initialY = e.touches[0].clientY - yOffset;
    } else {
      initialX = e.clientX - xOffset;
      initialY = e.clientY - yOffset;
    }

    if (e.target === dragItem) {
      active = true;
    }
  }

  function dragEnd(e) {
    initialX = currentX;
    initialY = currentY;

    active = false;
  }

  function drag(e) {
    if (active) {
    
      e.preventDefault();
    
      if (e.type === "touchmove") {
        currentX = e.touches[0].clientX - initialX;
        currentY = e.touches[0].clientY - initialY;
      } else {
        currentX = e.clientX - initialX;
        currentY = e.clientY - initialY;
      }

      xOffset = currentX;
      yOffset = currentY;

      setTranslate(currentX, currentY, dragItem);
    }
  }

  function setTranslate(xPos, yPos, el) {
    el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
  }

  // rainbow headings
    window.addEventListener("load", function() {
    let elements = document.getElementsByClassName("rainbowText");
    for (let i = 0; i < elements.length; i++) {
      generateRainbowText(elements[i]);
    }
  })
  
  function generateRainbowText(element) {
    let text = element.innerText;
    element.innerHTML = "";
    for (let i = 0; i < text.length; i++) {
      let charElem = document.createElement("span");
      charElem.style.color = "hsl(" + (360 * i / text.length) + ",100%,50%)";
      charElem.style.fontWeight = "bold";
      charElem.style.textShadow = "0px 4px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), -4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 0px -4px 5px hsl(" + (360 * i / text.length) + ",80%,20%)";
      charElem.innerHTML = text[i];
      element.appendChild(charElem);
    }
  }
  </script>
</div>
    <!-- Footer -->
    <footer class="footer text-center small white-text py-3">
        <p class="m-0 raleway">Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href='/' class="white-text raleway">hanfordlam.com</a>. All rights reserved.</p>
        <p class="m-0">Background drawn by sweetcutiepie</p>
    </footer>
  </div> <!-- close out page container div -->
  <!-- BOOTSTRAP 5 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- TOOLTIPS -->
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
    <script src="../../main-bundled.js"></script>
  </body>
</html>