<%- include('includes/header') %>

<!-- ERRORS -->
<% adErrors.forEach(function(message) { %>
  <div class="alert alert-danger text-center small py-1 mt-2"><%= message %></div>
<% }) %>

<!-- GREETINGS -->
<div class="text-center mb-2 mt-3">
  <a href="#practice-guide" type="button" class="mx-1 my-1 btn btn-outline-info btn-lg">Practice</a>
  <a href="#mini-missions" type="button" class="mx-1 my-1 btn btn-outline-danger btn-lg">Missions</a>
  <a href="#leaderboard" type="button" class="mx-1 my-1 btn btn-outline-success btn-lg">Leaderboard</a>
  <a href="#full-record" type="button" class="mx-1 my-1 btn btn-outline-warning btn-lg">Parents</a>
</div>
<!-- PRACTICE HUB -->
<div id="practice-guide" class="mt-2 mb-4 section">
  <div class="jumbotron-transparent py-4 mt-3 mb-0 mx-0"><h1 id="headingText" class="px-5 display-2 recursive rainbowText text-center">PRACTICE</h1>
    <h2 class="white-text text-center handlee pb-2 pt-0 mt-0">Aim for quality first, then quantity!</h2></div>
</div>
<script >
  // PRINT FEATURE PLAIN TEXT
  function printDiv(elementId) {
    var prtContent = document.getElementById(elementId);
    var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
    WinPrint.document.write(prtContent.innerHTML);
    WinPrint.document.close();
    WinPrint.focus();
    WinPrint.print();
  }
</script>

  <% latestComments.forEach((comment) => { %>
      <div id="weeklySnapshot" class="mt-5 px-5"><%- filterUserHTML(comment.comments) %></div>
      <div id="print-button" class="text-center mt-5 pt-5 pb-2">
        <button class="mx-3 btn btn-outline-secondary btn-lg" href="#" onclick="printDiv('weeklySnapshot')">Print these notes</button>
      </div>
    
  <% }) %>

  <% if (practiceStatus) { %>
    
    <div id="practice-success" class="alert alert-success text-center mb-4 mt-4 pt-4">
      <p>Well done for practising today! Small steps every day add up to big improvements over time.</p>
      <p>The Piano Wizard has granted you a handful of points for your dedication.</p>
      <p>Hope to see you again tomorrow!</p>
    </div>
    <div class="text-center mb-5">
      <img class="mb-3 mx-3" src="../images/smile.png">
      <img class="mb-3 mx-3" src="../images/star.png">
      <img class="mb-3 mx-3" src="../images/smile.png">
      <img class="mb-3 mx-3" src="../images/star.png">
      <img class="mb-3 mx-3" src="../images/smile.png">
      <img class="mb-3 mx-3" src="../images/star.png">
      <img class="mb-3 mx-3" src="../images/smile.png">
      <img class="mb-3 mx-3" src="../images/star.png">
      <img class="mb-3 mx-3" src="../images/smile.png">
      <img class="mb-3 mx-3" src="../images/star.png">
      <img class="mb-3 mx-3" src="../images/smile.png">
    </div>
  <% } else { %>
    <form class="mt-3 mb-5 text-center" action="/updateLastSubmittedDateAndAddPoints" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit" class="btn btn-success btn-lg">Collect my daily practice points!</button>
    </form>
  <% } %>
    
    
  
<!-- MINI MISSIONS -->
<!-- keep csrf token accessible -->
<p id="csrf-landmark" data-value="<%= csrfToken %>"></p>
<div id="mini-missions" class="section">
  <div class="jumbotron-transparent py-4 my-4 mb-4 mx-0"><h1 class="px-5 display-2 recursive rainbowText text-center">MISSIONS</h1>
    <h2 class="white-text text-center handlee pb-2 pt-0 mt-0">Collect piano points!</h2></div>
</div>
<!-- Guess the Tempo -->
<% if (BPMStatus == 'success') { %>
  <div id="bpm-success" class="alert alert-success text-center mb-4 mt-2 pt-4">
    <img src='../images/metronome-colour.png' alt='blinking!' id='blinking_image' class="mb-4"/>
    <p>Spot on, <%= randomBPM %>! Your sense of timing is amazing.</p>
    <p>The Piano Wizard has granted you a bunch of points for your achievement.</p>
    <p>Guess again tomorrow!</p>
  </div>
  <div class="text-center mb-4">
    <img class="mx-3 mb-0" src="../images/heart.png">
    <img class="mx-3 mb-0" src="../images/towel.png">
    <img class="mx-3 mb-0" src="../images/radish.png">
    <img class="mx-3 mb-0" src="../images/acorn.png">
    <img class="mx-3 mb-0" src="../images/microwave.png">
    <img class="mx-3 mb-0" src="../images/acorn.png">
    <img class="mx-3 mb-0" src="../images/radish.png">
    <img class="mx-3 mb-0" src="../images/towel.png">
    <img class="mx-3 mb-0" src="../images/heart.png">
  </div>
<% } else if (BPMStatus == 'notQuite') { %>
  <div id="bpm-almost" class="alert alert-warning text-center mb-4 mt-2 pt-4">
    <img src='../images/metronome-colour.png' alt='blinking!' id='blinking_image' class="mb-4"/>
    <p>Not quite! The tempo is <%= randomBPM %> beats per minute.</p>
    <p>The Piano Wizard has granted you some encouragement points.</p>
    <p>Guess again tomorrow!</p>
  </div>
  <div class="text-center mb-4">
    <img class="mx-3 mb-0" src="../images/heart.png">
    <img class="mx-3 mb-0" src="../images/towel.png">
    <img class="mx-3 mb-0" src="../images/radish.png">
    <img class="mx-3 mb-0" src="../images/acorn.png">
    <img class="mx-3 mb-0" src="../images/microwave.png">
    <img class="mx-3 mb-0" src="../images/acorn.png">
    <img class="mx-3 mb-0" src="../images/radish.png">
    <img class="mx-3 mb-0" src="../images/towel.png">
    <img class="mx-3 mb-0" src="../images/heart.png">
  </div>
<% } else { %>
  <form action="/guessBPM" method="POST" class="alert alert-primary form-inline text-center mb-3 mt-3 justify-content-center">
    <img src='../images/metronome-colour.png' alt='blinking!' id='blinking_image' />
    <div class="form-group ml-4">
      <label for="bpmGuess">I'm thinking... </label>
      <input type="text" name="bpmGuess" id="bpmGuess" class="form-control input-lg mx-sm-3">
      <small id="passwordHelpInline" class="text-muted">
        beats per minute. 
      </small>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit" class="btn btn-success ml-3">Guess!</button>
  </form>
<% } %>

<!--MISSIONCODE-->
<% if (missionCode) { %>
  <%- missionCode %>
<% } else if (!missionCode && missionResult.length != 0) { %>
  <% missionResult.forEach(function(result) { %>
    <%- result %>
  <% }) %>
<% } else { %>
  <div class="alert alert-danger text-center">Waiting for the next mission to arrive...</div>
<% } %>

  <!-- LEADERBOARD -->
  <div id="leaderboard" class="section">
    <div class="jumbotron-transparent py-4 mx-0 my-4"><h1 class="px-5 display-2 recursive rainbowText text-center">LEADERBOARD</h1>
      <h2 class="white-text text-center handlee pb-2 pt-0 mt-0">The Piano Wizard rewards dedication and persistence!</h2></div>
  </div>

  <div id="leaderboard-blurb" class="alert alert-secondary text-center mb-3 mt-3 pt-4">
    <p class="recursive"><strong>Spend your points on a Christmas present!</strong></p>
    <p><span class="pink-text"><strong>FREE</strong></span> : Choose your username <strong>colour</strong></p>
    <p><span class="pink-text"><strong>1000</strong></span> : <strong>Big</strong> (up to $10) Christmas present</p>
    <p><span class="pink-text"><strong>3000</strong></span> : <strong>Very Big</strong> (up to $50) Christmas present</p>
    <p><span class="pink-text"><strong>5000</strong></span> : <strong>Mega Big</strong> (up to $150) Christmas present</p>
  </div>
  <table class="mt-0 pt-0 table text-center table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Piano Points</th>
      </tr>
    </thead>
    <tbody>
      <% let i = 1 %>
      <% leaderboard.forEach((leader) => { %>
        <tr>
          <th scope="row"><%= i %></th>
          <td id="leader<%= i %>" class="langar">
            <p class="<%= leader.leaderboardColor %> d-inline"><%= leader.username %></p>
            <!--ADD BADGES HERE-->
            <% if (leader.badges && leader.badges.includes("pioneer")) { %>
              <img class="leaderboard-badge" src="../images/pioneer.png">
            <% } %>
          </td>
          <td><%= leader.leaderboardScore %></td>
        </tr>
      <% i = i+1 %>
      <% }) %>
    </tbody>
  </table>

    <!--LOGOUT-->
    <form id="logoutButton" class="mt-5" action="/logout" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit" class="btn btn-primary btn-lg btn-block">All done? Feel free to log out here. See you tomorrow!</button>
    </form>
    <hr class="mt-5">
<!-- FULL RECORD -->
<div id="full-record" class="section mt-5">
  <div class="jumbotron-transparent py-4 mt-3 mb-0"><h1 class="px-5 display-2 recursive rainbowText text-center">PARENTS</h1>
    <h2 class="white-text text-center handlee pb-2 pt-0 mt-0">Mastering five of the components of music!</h2></div>
</div>
<div class="justify-content-center"><canvas  id="pieceGraph"></canvas></div>

<script>
let ctx = document.getElementById('pieceGraph').getContext('2d');
Chart.defaults.global.defaultFontColor = 'white';
let stackedBar = new Chart(ctx, {
  type: 'bar',
  data: {
    datasets: [{
        label: 'Rhythm and Pulse',
        data: [<%- rhythmArray %>],
        backgroundColor: 'rgba(255, 99, 132, 0.6)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 1,
    }, {
        label: 'Coordination and Pitch',
        data: [<%- coordinationArray %>],
        backgroundColor: 'rgba(54, 162, 235, 0.6)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1,
    }, {
        label: 'Tone and Articulation',
        data: [<%- toneArray %>],
        backgroundColor: 'rgba(255, 206, 86, 0.6)',
        borderColor: 'rgba(255, 206, 86, 1)',
        borderWidth: 1,
    }, {
        label: 'Dynamics and Balance',
        data: [<%- dynamicsArray %>],
        backgroundColor: 'rgba(75, 192, 192, 0.6)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1,
    }, {
        label: 'Stylistic Awareness',
        data: [<%- stylisticArray %>],
        backgroundColor: 'rgba(153, 102, 255, 0.6)',
        borderColor: 'rgba(153, 102, 255, 1)',
        borderWidth: 1,
    }],
    labels: <%- JSON.stringify(dateLabels) %>
  },
  options: {
    legend: {
      onHover: showExtraComponentInfo
    },
    layout: {
      padding : {
        top: 10,
        bottom: 10
      }
    },
    title: {
      display : true,
      text: [],
      fontSize: 40,
      fontFamily: 'Caveat',
      fontStyle: 'normal',
      padding: 20
    },
    scales: {
      xAxes: [{
          stacked: true,
          gridLines: {
            display: false ,
          },
      }],
      yAxes: [{
          stacked: true,
          gridLines: {
            display: true ,
            color: "rgba(255, 255, 255, 0.3)"
          },
      }]
    }
  }
});

function showExtraComponentInfo() {
  // add function later as needed
}
</script>

<div class="justify-content-center mt-2 mb-3 px-0 table-responsive">
  <table class="justify-content-center table table-hover text-center">
      <thead>
        <tr class="table-light">
          <th scope="col">Date</th>
          <th scope="col">Piece</th>
          <th scope="col">Score</th>
          <th scope="col">Tech A</th>
          <th scope="col">Score</th>
          <th scope="col">Tech B</th>
          <th scope="col">Score</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>
      <tbody>
        <% studentWeeks.forEach(function(studentWeek) {
          let techAScoreTooltip = ""
          let techBScoreTooltip = ""
          let rhythmAlertColour = ""
          let coordinationAlertColour = ""
          let toneAlertColour = ""
          let dynamicsAlertColour = ""
          let stylisticAlertColour = ""
          let rhythmModalTitle = ""
          let rhythmModalDesc = ""
          let coordinationModalTitle = ""
          let coordinationModalDesc = ""
          let toneModalTitle = ""
          let toneModalDesc = ""
          let dynamicsModalTitle = ""
          let dynamicsModalDesc = ""
          let stylisticModalTitle = ""
          let stylisticModalDesc = ""
          if (studentWeek.techAScore == 1 || studentWeek.techAScore == 1.5) {
            techAScoreTooltip = "<b>Hibernating Bear</b><br>Uneven and rough coordination, inconsistent articulation and dynamics, and generally inaccurate pitch, at a slow tempo."
          } else if (studentWeek.techAScore == 2 || studentWeek.techAScore == 2.5) {
            techAScoreTooltip = "<b>Wobbly Jellyfish</b><br>Some unevenness and compromised coordination, inconsistent articulation and dynamics, and somewhat inaccurate pitch, at a reasonable tempo."
          } else if (studentWeek.techAScore == 3 || studentWeek.techAScore == 3.5) {
            techAScoreTooltip = "<b>Comfortable Koala</b><br>Even and mostly coordinated, appropriate articulation and dynamics, and mostly accurate pitch, at a reasonable tempo."
          } else if (studentWeek.techAScore == 4 || studentWeek.techAScore == 4.5) {
            techAScoreTooltip = "<b>Accomplished Octopus</b><br>Very even and well-coordinated, appropriate articulation and dynamics, and mostly accurate pitch, at a reasonable tempo."
          } else {
            techAScoreTooltip = "<b>Acrobatic Eagle</b><br>Exceptional evenness and coordination, precise articulation and dynamics, and highly accurate pitch, at a fast tempo."
          }
          if (studentWeek.techBScore == 1 || studentWeek.techBScore == 1.5) {
            techBScoreTooltip = "<b>Hibernating Bear</b><br>Uneven and rough coordination, inconsistent articulation and dynamics, and generally inaccurate pitch, at a slow tempo."
          } else if (studentWeek.techBScore == 2 || studentWeek.techBScore == 2.5) {
            techBScoreTooltip = "<b>Wobbly Jellyfish</b><br>Some unevenness and compromised coordination, inconsistent articulation and dynamics, and somewhat inaccurate pitch, at a reasonable tempo."
          } else if (studentWeek.techBScore == 3 || studentWeek.techBScore == 3.5) {
            techBScoreTooltip = "<b>Comfortable Koala</b><br>Even and mostly coordinated, appropriate articulation and dynamics, and mostly accurate pitch, at a reasonable tempo."
          } else if (studentWeek.techBScore == 4 || studentWeek.techBScore == 4.5) {
            techBScoreTooltip = "<b>Accomplished Octopus</b><br>Very even and well-coordinated, appropriate articulation and dynamics, and mostly accurate pitch, at a reasonable tempo."
          } else {
            techBScoreTooltip = "<b>Acrobatic Eagle</b><br>Exceptional evenness and coordination, precise articulation and dynamics, and highly accurate pitch, at a fast tempo."
          }
          if (studentWeek.rhythm == 1 || studentWeek.rhythm == 1.5) {
            rhythmModalTitle = "Hibernating Bear"
            rhythmModalDesc = "Sporadic pulse and loose rhythmic subdivisions."
            rhythmAlertColour = "bear"
          } else if (studentWeek.rhythm == 2 || studentWeek.rhythm == 2.5) {
            rhythmModalTitle = "Wobbly Jellyfish"
            rhythmModalDesc = "Fluctuating pulse with rhythm subdivisions generally lacking precision."
            rhythmAlertColour = "jellyfish"
          } else if (studentWeek.rhythm == 3 || studentWeek.rhythm == 3.5) {
            rhythmModalTitle = "Comfortable Koala"
            rhythmModalDesc = "Quite steady pulse with mostly even rhythmic subdivision."
            rhythmAlertColour = "koala"
          } else if (studentWeek.rhythm == 4 || studentWeek.rhythm == 4.5) {
            rhythmModalTitle = "Accomplished Octopus"
            rhythmModalDesc = "Steady pulse with mostly even and precise rhythmic subdivision."
            rhythmAlertColour = "octopus"
          } else {
            rhythmModalTitle = "Acrobatic Eagle"
            rhythmModalDesc = "Very steady pulse with even and precise rhythmic subdivisions throughout."
            rhythmAlertColour = "eagle"
          }
          if (studentWeek.coordination == 1 || studentWeek.coordination == 1.5) {
            coordinationModalTitle = "Hibernating Bear"
            coordinationModalDesc = "Highly tense coordination with rough unisons, generally compromised independent rhythms, and generally inaccurate pitch."
            coordinationAlertColour = "bear"
          } else if (studentWeek.coordination == 2 || studentWeek.coordination == 2.5) {
            coordinationModalTitle = "Wobbly Jellyfish"
            coordinationModalDesc = "Tense coordination with some rough unisons, somewhat compromised independent rhythms, and somewhat inaccurate pitch."
            coordinationAlertColour = "jellyfish"
          } else if (studentWeek.coordination == 3 || studentWeek.coordination == 3.5) {
            coordinationModalTitle = "Comfortable Koala"
            coordinationModalDesc = "Coordination with some tension, approximate unisons, mostly independent rhythms, and mostly accurate pitch."
            coordinationAlertColour = "koala"
          } else if (studentWeek.coordination == 4 || studentWeek.coordination == 4.5) {
            coordinationModalTitle = "Accomplished Octopus"
            coordinationModalDesc = "Precise coordination with exact unisons, mostly independent rhythms, and mostly accurate pitch."
            coordinationAlertColour = "octopus"
          } else {
            coordinationModalTitle = "Acrobatic Eagle"
            coordinationModalDesc = "Relaxed and precise coordination with exact unisons, independent rhythms, and highly accurate pitch."
            coordinationAlertColour = "eagle"
          }
          if (studentWeek.tone == 1 || studentWeek.tone == 1.5) {
            toneModalTitle = "Hibernating Bear"
            toneModalDesc = "General inaccuracy with generally harsh tone."
            toneAlertColour = "bear"
          } else if (studentWeek.tone == 2 || studentWeek.tone == 2.5) {
            toneModalTitle = "Wobbly Jellyfish"
            toneModalDesc = "Mostly accurate with little use of fingers, wrist, and arm in tone production."
            toneAlertColour = "jellyfish"
          } else if (studentWeek.tone == 3 || studentWeek.tone == 3.5) {
            toneModalTitle = "Comfortable Koala"
            toneModalDesc = "Mostly accurate with some use of fingers, wrist, and arm in tone production."
            toneAlertColour = "koala"
          } else if (studentWeek.tone == 4 || studentWeek.tone == 4.5) {
            toneModalTitle = "Accomplished Octopus"
            toneModalDesc = "Accurate with appropriate use of fingers, wrist, and arm, producing a warm tone."
            toneAlertColour = "octopus"
          } else {
            toneModalTitle = "Acrobatic Eagle"
            toneModalDesc = "Very accurate with appropriate use of fingers, wrist, and arm, producing a warm tone."
            toneAlertColour = "eagle"
          }
          if (studentWeek.dynamics == 1 || studentWeek.dynamics == 1.5) {
            dynamicsModalTitle = "Hibernating Bear"
            dynamicsModalDesc = "Dynamics not observed with a lack of balance in the parts."
            dynamicsAlertColour = "bear"
          } else if (studentWeek.dynamics == 2 || studentWeek.dynamics == 2.5) {
            dynamicsModalTitle = "Wobbly Jellyfish"
            dynamicsModalDesc = "Dynamics executed imprecisely with little balance in the parts."
            dynamicsAlertColour = "jellyfish"
          } else if (studentWeek.dynamics == 3 || studentWeek.dynamics == 3.5) {
            dynamicsModalTitle = "Comfortable Koala"
            dynamicsModalDesc = "Most dynamics executed well with some balance in the parts."
            dynamicsAlertColour = "koala"
          } else if (studentWeek.dynamics == 4 || studentWeek.dynamics == 4.5) {
            dynamicsModalTitle = "Accomplished Octopus"
            dynamicsModalDesc = "Most dynamics executed precisely with most parts well balanced."
            dynamicsAlertColour = "octopus"
          } else {
            dynamicsModalTitle = "Acrobatic Eagle"
            dynamicsModalDesc = "All dynamics executed precisely with all parts very well balanced."
            dynamicsAlertColour = "eagle"
          }
          if (studentWeek.stylistic == 1 || studentWeek.stylistic == 1.5) {
            stylisticModalTitle = "Hibernating Bear"
            stylisticModalDesc = "Musical style not conveyed."
            stylisticAlertColour = "bear"
          } else if (studentWeek.stylistic == 2 || studentWeek.stylistic == 2.5) {
            stylisticModalTitle = "Wobbly Jellyfish"
            stylisticModalDesc = "Sense of musical style somewhat present with important details needing attention."
            stylisticAlertColour = "jellyfish"
          } else if (studentWeek.stylistic == 3 || studentWeek.stylistic == 3.5) {
            stylisticModalTitle = "Comfortable Koala"
            stylisticModalDesc = "General sense of musical style conveyed with minor details needing attention."
            stylisticAlertColour = "koala"
          } else if (studentWeek.stylistic == 4 || studentWeek.stylistic == 4.5) {
            stylisticModalTitle = "Accomplished Octopus"
            stylisticModalDesc = "General sense of musical style well conveyed with confidence."
            stylisticAlertColour = "octopus"
          } else {
            stylisticModalTitle = "Acrobatic Eagle"
            stylisticModalDesc = "Convincing musical style very well conveyed with confidence and nuance."
            stylisticAlertColour = "eagle"
          }
          %>
          <tr class="table-light">
            <th class="align-middle" scope="row"><%= studentWeek.createdDate.getDate() %>/<%= studentWeek.createdDate.getMonth()+1 %>/<%= studentWeek.createdDate.getFullYear() %></th>
            <td class="align-middle"><%= studentWeek.pieceName %></td>
            <td class="align-middle">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#piece<%= studentWeek._id %>">
                  <%= Number(studentWeek.rhythm) + Number(studentWeek.coordination) + Number(studentWeek.tone) + Number(studentWeek.dynamics) + Number(studentWeek.stylistic) %>
                </button>
            </td>
            <td class="align-middle"><%= studentWeek.techAName %></td>
            <td class="align-middle">
                <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="right" data-html="true" title="<%= techAScoreTooltip %>">
                  <%= studentWeek.techAScore %>
                </button>
            </td>
            <td class="align-middle"><%= studentWeek.techBName %></td>
            <td class="align-middle">
                <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="right" data-html="true" title="<%= techBScoreTooltip %>">
                  <%= studentWeek.techBScore %>
                </button>
            </td>
            <td class="align-middle">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comments<%= studentWeek._id %>">
                Read
              </button>
            </td>
        </tr>
        <!-- pieceModal -->
        <div class="modal fade" id="piece<%= studentWeek._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Components Assessed:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <h5 class="text-center">Rhythm and Pulse</h5>
                  <div class="alert <%= rhythmAlertColour %> text-center" role="alert">
                      <%= rhythmModalTitle %>
                  </div>
                  <p><%= rhythmModalDesc %></p>
                  <hr>
                  <h5 class="text-center">Coordination and Pitch</h5>
                  <div class="alert <%= coordinationAlertColour %> text-center" role="alert">
                    <%= coordinationModalTitle %>
                  </div>
                  <p><%= coordinationModalDesc %></p>
                  <hr>
                  <h5 class="text-center">Tone and Articulation</h5>
                  <div class="alert <%= toneAlertColour %> text-center" role="alert">
                    <%= toneModalTitle %>
                  </div>
                  <p><%= toneModalDesc %></p>
                  <hr>
                  <h5 class="text-center">Dynamics and Balance</h5>
                  <div class="alert <%= dynamicsAlertColour %> text-center" role="alert">
                    <%= dynamicsModalTitle %>
                  </div>
                  <p><%= dynamicsModalDesc %></p>
                  <hr>
                  <h5 class="text-center">Stylistic Awareness</h5>
                  <div class="alert <%= stylisticAlertColour %> text-center" role="alert">
                    <%= stylisticModalTitle %>
                  </div>
                  <p><%= stylisticModalDesc %></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- commentsModal -->
        <div class="modal fade" id="comments<%= studentWeek._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Comments:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <pre>
                <p><%= studentWeek.comments %></p>
              </pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
        </div>
        <% }) %>
      
      </tbody>
    </table>
  </div>
  
  <!-- RUBRIC -->
  <div id="rubric-grid" class="px-0 mt-0 rubric-grid">
    <div class="row m-0 text-center row-border">
      <div class="col-sm rhythm">
        <b>Rhythm and Pulse</b>
      </div>
      <div class="col-sm coordination">
        <b>Coordination and Pitch</b>
      </div>
      <div class="col-sm tone">
        <b>Tone and Articulation</b>
      </div>
      <div class="col-sm dynamics">
        <b>Dynamics and Balance</b>
      </div>
      <div class="col-sm stylistic">
        <b>Stylistic Awareness</b>
      </div>
    </div>
    <div class="row text-center m-0 eagle row-border">
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/eagle.ico" alt="">
        <p>Very steady pulse with even and precise rhythmic subdivisions throughout.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/eagle.ico" alt="">
        <p>Relaxed and precise coordination with exact unisons, independent rhythms, and highly accurate pitch.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/eagle.ico" alt="">
        <p>Very accurate with appropriate use of fingers, wrist, and arm, producing a warm tone.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/eagle.ico" alt="">
        <p>All dynamics executed precisely with all parts very well balanced.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/eagle.ico" alt="">
        <p>Convincing musical style very well conveyed with confidence and nuance.</p>
      </div>
    </div>
    <div class="row m-0 text-center octopus row-border">
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/octopus.ico" alt="">
        <p>Steady pulse with mostly even and precise rhythmic subdivision.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/octopus.ico" alt="">
        <p>Precise coordination with exact unisons, mostly independent rhythms, and mostly accurate pitch.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/octopus.ico" alt="">
        <p>Accurate with appropriate use of fingers, wrist, and arm, producing a warm tone.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/octopus.ico" alt="">
        <p>Most dynamics executed precisely with most parts well balanced.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/octopus.ico" alt="">
        <p>General sense of musical style well conveyed with confidence.</p>
      </div>
    </div>
    <div class="row m-0 text-center koala row-border">
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/koala.ico" alt="">
        <p>Quite steady pulse with mostly even rhythmic subdivision.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/koala.ico" alt="">
        <p>Coordination with some tension, approximate unisons, mostly independent rhythms, and mostly accurate pitch.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/koala.ico" alt="">
        <p>Mostly accurate with some use of fingers, wrist, and arm in tone production.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/koala.ico" alt="">
        <p>Most dynamics executed well with some balance in the parts.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/koala.ico" alt="">
        <p>General sense of musical style conveyed with minor details needing attention.</p>
      </div>
    </div>
    <div class="row m-0 text-center jellyfish row-border">
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/jellyfish.ico" alt="">
        <p>Fluctuating pulse with rhythm subdivisions generally lacking precision.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/jellyfish.ico" alt="">
        <p>Tense coordination with some rough unisons, somewhat compromised independent rhythms, and somewhat inaccurate pitch.
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/jellyfish.ico" alt="">
        <p>Mostly accurate with little use of fingers, wrist, and arm in tone production.
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/jellyfish.ico" alt="">
        <p>Dynamics executed imprecisely with little balance in the parts.
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/jellyfish.ico" alt="">
        <p>Sense of musical style somewhat present with important details needing attention.
      </div>
    </div>
    <div class="row m-0 text-center bear bear-simplified row-border">
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/bear.ico" alt="">
        <p>Sporadic pulse and loose rhythmic subdivisions.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/bear.ico" alt="">
        <p>Highly tense coordination with rough unisons, generally compromised independent rhythms, and generally inaccurate pitch.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/bear.ico" alt="">
        <p>General inaccuracy with generally harsh tone.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/bear.ico" alt="">
        <p>Dynamics not observed with a lack of balance in the parts.</p>
      </div>
      <div class="col-sm">
        <img class="mb-2 rubric-icon" src="../images/bear.ico" alt="">
        <p>Musical style not conveyed.</p>
      </div>
    </div>
  </div>
  <div class="text-center py-4">
    <button class="mx-3 btn btn-outline-warning btn-lg" onclick="window.open('../files/practice-guide.pdf')">Click for printer-friendly Practice Guide</button>
  </div>





<script>
  // Guess the tempo
  var img = document.getElementById('blinking_image');

  var interval = window.setInterval(function(){
    if (img.style.visibility == 'hidden') {
      img.style.visibility = 'visible';
    } else{
      img.style.visibility = 'hidden';
    }
  }, 30000/<%- randomBPM %>);

// ADD CSRF TOKEN TO MISSION SUBMITS
  if (document.getElementById('missionSubmitButton')) {
    var d1 = document.getElementById('missionSubmitButton')
    d1.insertAdjacentHTML('beforebegin', '<input type="hidden" name="_csrf" value="<%= csrfToken %>">')
    d1.insertAdjacentHTML('beforebegin', '<input type="hidden" name="userId" value="<%= userId %>">')
  }

</script>

<%- include('includes/footer') %>