<%- include('includes/header') %>
<!--SNOWFLAKES FOR WINTER
<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
</div>-->
<!--Flowers FOR Spring-->
<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
  🌸
  </div>
  <div class="snowflake">
  🌸
  </div>
  <div class="snowflake">
  🍀
  </div>
  <div class="snowflake">
  🌺
  </div>
  <div class="snowflake">
  🌸
  </div>
  <div class="snowflake">
  🍀
  </div>
  <div class="snowflake">
  🌸
  </div>
  <div class="snowflake">
  🍀
  </div>
  <div class="snowflake">
  🌺
  </div>
  <div class="snowflake">
  🌸
  </div>
</div>

<!-- ERRORS -->
<% adErrors.forEach(function(message) { %>
  <div class="alert alert-danger text-center small py-1 mt-2"><%= message %></div>
<% }) %>

<div class="wallet-div bellota grey-text inline draggable pb-5">
  <strong style="color: <%= leaderboardColor %>"><%= username %></strong>'s wallet<br>
  <span class="pink-text"><strong><%= points %></strong></span> points<br>
  <span class="yellow-text"><%= lessonCount %></span>/<span class="orange-text"><%= paidLessons %></span> lessons<br>
  <a href="/practice" type="button" class="my-1 btn btn-info btn-sm">Practice</a>
  <a href="/parents" type="button" class="my-1 btn btn-warning btn-sm">Record</a><br>
  <a href="/missions" type="button" class="my-1 btn btn-danger btn-sm">Missions</a>
  <a href="/leaderboard" type="button" class="my-1 btn btn-success btn-sm">Prizes</a>
  <form id="logoutButton" class="mt-1 mb-2" action="/logout" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit" class="btn btn-secondary btn-sm">Log Out</button>
  </form>
  <p class="text-center green-text mt-1" onclick="lockScreen()" id="lockScreenText">Screen unlocked</p>
</div>

<!-- MINI MISSIONS -->
<!-- keep csrf token accessible, use lowercase for dataset entries! -->
<span id="csrf-landmark" data-value="<%= csrfToken %>" data-studentid="<%= userId %>"></span>
<div id="mini-missions" class="section">
  <div class="py-4 my-4 mb-4 mx-0"><h1 class="px-5 display-2 recursive rainbowText text-center">MISSIONS</h1>
    <h2 class="grey-text text-center handlee pb-2 pt-0 mt-0">
      <% let i = 0;
      Object.values(missionStatuses).forEach((value) => {
        if(value){
          i += 1;
        }
      })
      if(i==1){ %>
        1 mission complete
      <% }else{ %>
      <%= i %> missions complete
      <% } %></h2></div>
</div>
<!-- Guess the Tempo -->
<% if (BPMStatus == 'success') { %>
  <div id="bpm-success" class="green-text text-center mb-4 mt-2 pt-4">
    <img src='../images/metronome-colour.png' alt='blinking!' id='blinking_image' class="mb-4"/>
    <p>Spot on, <%= randomBPM %>! Your sense of timing is amazing.</p>
    <p>The Piano Wizard has put some points in your wallet.</p>
  </div>
<% } else if (BPMStatus == 'notQuite') { %>
  <div id="bpm-almost" class="pink-text text-center mb-4 mt-2 pt-4">
    <img src='../images/metronome-colour.png' alt='blinking!' id='blinking_image' class="mb-4"/>
    <p>Not quite! The tempo is <%= randomBPM %> beats per minute.<br>
    The Piano Wizard has put some points in your wallet.</p>
  </div>
<% } else { %>
  <form action="/guessBPM" method="POST" class="form-inline text-center mb-3 mt-3 justify-content-center">
    <img src='../images/metronome-colour.png' alt='blinking!' id='blinking_image' />
    <div class="form-group ml-4">
      <input type="range" min="20" max="200" step="10" name="bpmGuess" id="bpmGuess" class="input-lg mx-sm-3" oninput="num.value = this.value">
      <output style="width:3rem;" class="mr-0 pr-0 white-text" id="num">110</output>
      <small id="passwordHelpInline" class="text-muted">
        beats per minute
      </small>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit" class="btn btn-outline-success ml-3">Guess</button>
  </form>
<% } %>
<script>
  // Guess the tempo
  var img = document.getElementById('blinking_image');

  var interval = window.setInterval(function(){
    if (img.style.visibility == 'hidden') {
      img.style.visibility = 'visible';
    } else{
      img.style.visibility = 'hidden';
    }
  }, 30000/<%- randomBPM %>);
</script>

<div class="mt-5" id="missionsWrapper">
<!-- Technical Skills -->

<% if (missionStatuses.majorScales) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
      <h3 class="">Major<br>Scales</h3>
      <img src="../images/check-mark.png">
    </div>
  </div>
<% } else { %>
  <div class="rounded task-div-incomplete">
    <div class="missionContent">
      <h3 class="">Major<br>Scales</h3>
      <img src="../images/chronometer.png">
    </div> 
  </div>
<% }
if (missionStatuses.minorScales) { %>
<div class="rounded task-div-complete">
  <div class="missionContent">
    <h3 class="">Minor<br>Scales</h3>
    <img src="../images/check-mark.png">
  </div>
</div> 
<% } else { %> 
<div class="rounded task-div-incomplete">
  <div class="missionContent">
    <h3 class="">Minor<br>Scales</h3>
    <img src="../images/chronometer.png">
  </div>  
</div>
<% }
if (missionStatuses.majorArpeggios) { %>
<div class="rounded task-div-complete">
  <div class="missionContent">
<h3 class="">Major<br>Arpeggios</h3>
  <img src="../images/check-mark.png">
  </div>
  
</div>
<% } else { %> 
<div class="rounded task-div-incomplete">
  <div class="missionContent">
    <h3 class="">Major<br>Arpeggios</h3>
    <img src="../images/chronometer.png">
  </div>  
</div>
<% }
if (missionStatuses.minorArpeggios) { %>
<div class="rounded task-div-complete">
  <div class="missionContent">
<h3 class="">Minor<br>Arpeggios</h3>
  <img src="../images/check-mark.png">
  </div>
  
</div> 
<% } else { %>  
<div class="rounded task-div-incomplete">
  <div class="missionContent">
    <h3 class="">Minor<br>Arpeggios</h3>
    <img src="../images/chronometer.png">
  </div>  
</div>
<% }
if (missionStatuses.scaleModes) { %>
<div class="rounded task-div-complete">
  <div class="missionContent">
<h3 class="">Scale<br>Modes</h3>
  <img src="../images/check-mark.png">
  </div>
  
</div> 
<% } else { %>   
<div class="rounded task-div-incomplete">
  <div class="missionContent">
    <h3 class="">Scale<br>Modes</h3>
    <img src="../images/chronometer.png">
  </div>  
</div>
<% }
if (missionStatuses.arpeggioInversions) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
<h3 class="">Arpeggio<br>Inversions</h3>
    <img src="../images/check-mark.png">
    </div>
    
  </div> 
<% } else { %>   
<div class="rounded task-div-incomplete">
  <div class="missionContent">
    <h3 class="">Arpeggio<br>Inversions</h3>
    <img src="../images/chronometer.png">
  </div>  
</div>
<% }
if (missionStatuses.chromatic) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
<h3 class="">Chromatic</h3>
    <img src="../images/check-mark.png">
    </div>
    
  </div> 
<% } else { %>   
<div class="rounded task-div-incomplete">
  <div class="missionContent">
    <h3 class="">Chromatic</h3>
    <img src="../images/chronometer.png">
  </div>  
</div>
<% } %>


<% if (missionStatuses.ningenius) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
<h3 class="">Ningenius</h3>
  <img src="../images/check-mark.png">
    </div>
  
</div>
<% } else { %>
  <div class="rounded task-div-incomplete">
    <div class="missionContent">
  <h3 class="">Ningenius</h3>
  <img src="../images/chronometer.png">
  </div>  
</div>
<% } %>
<% if (missionStatuses.sightReading) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
<h3 class="">Sight<br>Reading</h3>
  <img src="../images/check-mark.png">
    </div>
  
</div>
<% } else { %>
  <div class="rounded task-div-incomplete">
    <div class="missionContent">
  <h3 class="">Sight<br>Reading</h3>
  <img src="../images/chronometer.png">
  </div>  
</div>
<% } %>

<!-- Listening Skills-->

<% if (missionStatuses.oneTimeAuralMemory) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
<h3 class="">Melodic<br>Memory</h3>
  <img src="../images/check-mark.png">
    </div>
  
</div>
<% } else { %>
  <div class="rounded task-div-incomplete">
    <div class="missionContent">
  <h3 class="">Melodic<br>Memory</h3>
  <img src="../images/chronometer.png">
  </div>  
</div>
<% } %>
<% if (missionStatuses.noteMemoryGame) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
<h3 class=""><em>Note Memory</em><br>Game</h3>
  <img src="../images/check-mark.png">
    </div>
  
</div>
<% } else { %>
  <div class="rounded task-div-incomplete">
    <div class="missionContent">
  <h3 class=""><em>Note Memory</em><br>Game</h3>
  <img src="../images/chronometer.png">
  </div>  
</div>
<% } %>

<!-- Creative Skills-->
<% if (missionStatuses.mastermind) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
<h3 style="display: table-cell;vertical-align: middle;" class="">Master<br>Mind</h3>
  <img src="../images/check-mark.png">
    </div>
  
</div>
<% } else { %>
  <div class="rounded task-div-incomplete">
    <div class="missionContent">
  <h3 style="vertical-align: middle" class="">Master<br>Mind</h3>
  <img src="../images/chronometer.png">
  </div>  
</div>
<% } %>
<% if (missionStatuses.contributeStory) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
 <h3 class="">Creative<br>Writing</h3>
  <img src="../images/check-mark.png">
    </div>
 
</div>
<% } else { %>
  <div class="rounded task-div-incomplete">
    <div class="missionContent">
  <h3 class="">Creative<br>Writing</h3>
  <img src="../images/chronometer.png">
  </div>  
</div>
<% } %>

<!-- Knowledge and Facts -->

<% if (missionStatuses.essayWriting) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
<h3 class="">Essay<br>Writing</h3>
  <img src="../images/check-mark.png">
    </div>
  
</div>
<% } else { %>
  <div class="rounded task-div-incomplete">
    <div class="missionContent">
  <h3 class="">Essay<br>Writing</h3>
  <img src="../images/chronometer.png">
  </div>  
</div>
<% } %>

<!-- Performance Skills-->
<% if (missionStatuses.recitalPerformer) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
 <h3 class="">Performer</h3>
  <img src="../images/check-mark.png">
    </div>
 
</div>
<% } else { %>
  <div class="rounded task-div-incomplete">
    <div class="missionContent">
  <h3 class="">Performer</h3>
  <img src="../images/chronometer.png">
  </div>  
</div>
<% } %>
<% if (missionStatuses.examTaker) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
<h3 class="">Exam</h3>
  <img src="../images/check-mark.png">
    </div>
  
</div>
<% } else { %>
  <div class="rounded task-div-incomplete">
    <div class="missionContent">
  <h3 class="">Exam</h3>
  <img src="../images/chronometer.png">
  </div>  
</div>
<% } %>
<% if (missionStatuses.competitor) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
      <h3 class="">Competitor</h3>
      <img src="../images/check-mark.png">
    </div>
  </div>
<% } else { %>
  <div class="rounded task-div-incomplete">
    <div class="missionContent">
      <h3 class="">Competitor</h3>
      <img src="../images/chronometer.png">
    </div>  
  </div>
<% } %>
</div>

<!--2048-->
<iframe class="rounded mt-5" id="game2048" src="..//files//2048//index.html" frameborder="0"></iframe>

<!--pacman-->
<iframe class="rounded mt-5" id="gamepacman" src="..//files//pacman//index.htm" frameborder="0"></iframe>

<script>
// ADD CSRF TOKEN TO MISSION SUBMITS
  if (document.getElementById('missionSubmitButton')) {
    var d1 = document.getElementById('missionSubmitButton')
    d1.insertAdjacentHTML('beforebegin', '<input type="hidden" name="_csrf" value="<%= csrfToken %>">')
    d1.insertAdjacentHTML('beforebegin', '<input type="hidden" name="userId" value="<%= userId %>">')
  }
// make game playable
lockScreen = function(){
  if(document.getElementById('lockScreenText').innerHTML === "Screen locked"){
    document.getElementById('lockScreenText').classList.remove('pink-text')
    document.getElementById('lockScreenText').classList.add('green-text')
    document.getElementById('lockScreenText').innerHTML = "Screen unlocked"
  } else {
    document.getElementById('lockScreenText').classList.remove('green-text')
    document.getElementById('lockScreenText').classList.add('pink-text')
    document.getElementById('lockScreenText').innerHTML = "Screen locked"
  }
  document.body.style.overflowY = document.body.style.overflowY === '' ? 'hidden' : ''
}
</script>

<%- include('includes/footer') %>