<%- include('includes/headerLoggedIn') %>
<!-- FONT AWESOME BOUNCING ARROW-->
<script src="https://kit.fontawesome.com/25ae9b8317.js" crossorigin="anonymous"></script>
<!-- PS2P font -->
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<!--Flowers FOR Spring-->
<%- include('includes/falling') %>

<!-- ERRORS -->
<% adErrors.forEach(function(message) { %>
  <div class="alert alert-danger text-center small py-1 mt-2"><%= message %></div>
<% }) %>

<!--WALLET-->
<%- include('includes/wallet') %>

<!-- MINI MISSIONS -->
<!-- keep csrf token accessible, use lowercase for dataset entries! -->
<span id="csrf-landmark" data-value="<%= csrfToken %>" data-username="<%= username %>" data-studentid="<%= userId %>"></span>
<div id="mini-missions" class="section aboveFalling">
  <div class="py-4 my-4 mb-4 mx-0"><h1 class="px-5 display-2 recursive rainbowText text-center">MISSIONS</h1></div>
</div>
<!-- Guess the Tempo -->
<% if (BPMStatus == 'success') { %>
  <div id="bpm-success" class="aboveFalling green-text text-center mb-4 mt-2 pt-4">
    <img src='../images/metronome-colour.png' alt='blinking!' id='blinking_image' class="mb-4"/>
    <p>Spot on, <%= randomBPM %>! Your sense of timing is amazing.</p>
    <p>The Piano Wizard has put some points in your wallet.</p>
  </div>
<% } else if (BPMStatus == 'notQuite') { %>
  <div id="bpm-almost" class="aboveFalling pink-text text-center mb-4 mt-2 pt-4">
    <img src='../images/metronome-colour.png' alt='blinking!' id='blinking_image' class="mb-4"/>
    <p>Not quite! The tempo is <%= randomBPM %> beats per minute.<br>
    The Piano Wizard has put some points in your wallet.</p>
  </div>
<% } else { %>
  <form action="/guessBPM" method="POST" class="aboveFalling form-inline text-center mb-3 mt-3 justify-content-center">
    <img src='../images/metronome-colour.png' alt='blinking!' id='blinking_image' />
    <div class="form-group ml-4">
      <input type="range" min="20" max="200" step="10" name="bpmGuess" id="bpmGuess" class="input-lg mx-sm-3" oninput="num.value = this.value">
      <output style="width:3rem;" class="mr-0 pr-0 white-text" id="num">110</output>
      <small id="passwordHelpInline" class="text-muted">
        beats per minute
      </small>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit" class="btn btn-outline-success ml-3">Guess</button>
  </form>
<% } %>
<script>
  // Guess the tempo
  var img = document.getElementById('blinking_image');

  var interval = window.setInterval(function(){
    if (img.style.visibility == 'hidden') {
      img.style.visibility = 'visible';
    } else{
      img.style.visibility = 'hidden';
    }
  }, 30000/<%- randomBPM %>);
</script>

<div class="mt-5 aboveFalling" id="missionsWrapper">
<!-- Technical Skills -->
<% if (missionStatuses.technical) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
      <h3 class=""><span class="dark-orange-text">Month</span><br>Technical<br>50</h3>
      <img src="../images/check-mark.png">
    </div>
  </div>
<% } else { %>
  <div class="rounded task-div-incomplete">
    <div class="missionContent">
      <h3 class=""><span class="dark-orange-text">Month</span><br>Technical<br>50</h3>
      <img src="../images/chronometer.png">
    </div> 
  </div>
<% }
if (missionStatuses.literacy) { %>
<div class="rounded task-div-complete">
  <div class="missionContent">
<h3 class=""><span class="dark-orange-text">Month</span><br>Literacy<br>50</h3>
  <img src="../images/check-mark.png">
  </div>
  
</div>
<% } else { %> 
<div class="rounded task-div-incomplete">
  <div class="missionContent">
    <h3 class=""><span class="dark-orange-text">Month</span><br>Literacy<br>50</h3>
    <img src="../images/chronometer.png">
  </div>  
</div>
<% }
if (missionStatuses.reading) { %>
<div class="rounded task-div-complete">
  <div class="missionContent">
    <h3 class=""><span class="dark-orange-text">Month</span><br>Reading<br>50</h3>
    <img src="../images/check-mark.png">
  </div>
</div> 
<% } else { %> 
<div class="rounded task-div-incomplete">
  <div class="missionContent">
    <h3 class=""><span class="dark-orange-text">Month</span><br>Reading<br>50</h3>
    <img src="../images/chronometer.png">
  </div>  
</div>
<% }

if (missionStatuses.perform) { %>
<div class="rounded task-div-complete">
  <div class="missionContent">
<h3 class=""><span class="dark-orange-text">Term</span><br>Perform<br>300</h3>
  <img src="../images/check-mark.png">
  </div>
  
</div> 
<% } else { %>  
<div class="rounded task-div-incomplete">
  <div class="missionContent">
    <h3 class=""><span class="dark-orange-text">Term</span><br>Perform<br>300</h3>
    <img src="../images/chronometer.png">
  </div>  
</div>
<% }
if (missionStatuses.exam) { %>
<div class="rounded task-div-complete">
  <div class="missionContent">
<h3 class=""><span class="dark-orange-text">Year</span><br>Exam<br>500</h3>
  <img src="../images/check-mark.png">
  </div>
  
</div> 
<% } else { %>   
<div class="rounded task-div-incomplete">
  <div class="missionContent">
    <h3 class=""><span class="dark-orange-text">Year</span><br>Exam<br>500</h3>
    <img src="../images/chronometer.png">
  </div>  
</div>
<% }
if (missionStatuses.compete) { %>
  <div class="rounded task-div-complete">
    <div class="missionContent">
<h3 class=""><span class="dark-orange-text">Year</span><br>Compete<br>500</h3>
    <img src="../images/check-mark.png">
    </div>
    
  </div> 
<% } else { %>   
<div class="rounded task-div-incomplete">
  <div class="missionContent">
    <h3 class=""><span class="dark-orange-text">Year</span><br>Compete<br>500</h3>
    <img src="../images/chronometer.png">
  </div>  
</div>
<% } %>

<!--BOUNCING ARROW-->
<div class="aboveFalling arrowcontainer">
  <div class="arrow-holder">
    <div id="arrow" class="circle bounce">
        <i class="fas fa-angle-double-down fa-4x drop-arrow"></i>
    </div>
  </div>
</div>

<!-- INTERESTING VIDEO -->
<div id="interestingVideoContainer" class="aboveFalling">
  <% if(interestingVideoURL){ %>
  <p class="text-center grey-text mb-5"><%= interestingVideoPrompt %></p>
  <div class="responsive-container">
    <iframe style="z-index: 99999;" class="mb-5" width="100%" height="500px" src="<%= interestingVideoURL %>" title="Hanford's Video Pick" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <% } %>
</div>

<!--BOUNCING ARROW-->
<div class="aboveFalling arrowcontainer">
  <div class="arrow-holder">
    <div id="arrow" class="circle bounce">
        <i class="fas fa-angle-double-down fa-4x drop-arrow"></i>
    </div>
  </div>
</div>

<!-- READING PRACTICE -->
<div id="readingPracticeContainer" class="aboveFalling">
  <% if(readingPracticePDFPath){ %>
  <p class="text-center grey-text"><%= readingPracticePrompt %></p>
  <p class="text-center grey-text mb-5">Here is the <a href="<%= readingPracticePDFPath %>" target="_blank">PDF</a> file.</p>
  <iframe src="<%= readingPracticePDFPath %>" width="100%" height="1000px"></iframe>
  <% } %>
</div>

<!--BOUNCING ARROW-->
<div class="aboveFalling arrowcontainer">
  <div class="arrow-holder">
    <div id="arrow" class="circle bounce">
        <i class="fas fa-angle-double-down fa-4x drop-arrow"></i>
    </div>
  </div>
</div>

<!--2048-->
<div style="margin: 0 auto; max-width:800px;"><iframe class="aboveFalling rounded mt-5" id="game2048" src="..//files//2048//index.html" frameborder="0"></iframe></div>

<!--BOUNCING ARROW-->
<div class="aboveFalling arrowcontainer">
  <div class="arrow-holder">
    <div id="arrow" class="circle bounce">
        <i class="fas fa-angle-double-down fa-4x drop-arrow"></i>
    </div>
  </div>
</div>

<!--pacman-->
<div class="aboveFalling white-text text-center mt-5 mb-0 pt-4 pb-0 ps2p" style="background-color:#000; max-width: 800px; margin: 0 auto;">
  <p class="my-3 purple-text">GLOBAL HIGHSCORES</p>
  <p>Pac-man: <span class="orange-text"><%= pacmanHighscores[0][0]%></span> <span class="green-text"><%= pacmanHighscores[0][1]%></span><br>Pac-man Turbo <span class="orange-text"><%= pacmanHighscores[1][0]%></span> <span class="green-text"><%= pacmanHighscores[1][1]%></span></p>
  <p>Ms Pac-man <span class="orange-text"><%= pacmanHighscores[2][0]%></span> <span class="green-text"><%= pacmanHighscores[2][1]%></span><br>Ms Pac-man Turbo <span class="orange-text"><%= pacmanHighscores[3][0]%></span> <span class="green-text"><%= pacmanHighscores[3][1]%></span></p>
  <p class="mb-0 pb-0">Cookie-man <span class="orange-text"><%= pacmanHighscores[4][0]%></span> <span class="green-text"><%= pacmanHighscores[4][1]%></span><br>Cookie-man Turbo <span class="orange-text"><%= pacmanHighscores[5][0]%></span> <span class="green-text"><%= pacmanHighscores[5][1]%></span></p>
  <iframe class="mt-0 pt-0" id="gamepacman" src="..//files//pacman//index.htm" style="border: 0;display:block;"></iframe>
</div>

<!--BOUNCING ARROW-->
<div class="aboveFalling arrowcontainer">
  <div class="arrow-holder">
    <div id="arrow" class="circle bounce">
        <i class="fas fa-angle-double-down fa-4x drop-arrow"></i>
    </div>
  </div>
</div>

<!--QUAVER ATTACK-->
<iframe class="aboveFalling mt-5 mx-auto" height="800" width="450" id="gamequaverattack" src="..//files//QuaverAttack//index.html" style="border: 0;display:block;"></iframe>

<script>
// ADD CSRF TOKEN TO MISSION SUBMITS
  if (document.getElementById('missionSubmitButton')) {
    var d1 = document.getElementById('missionSubmitButton')
    d1.insertAdjacentHTML('beforebegin', '<input type="hidden" name="_csrf" value="<%= csrfToken %>">')
    d1.insertAdjacentHTML('beforebegin', '<input type="hidden" name="userId" value="<%= userId %>">')
  }
</script>

<%- include('includes/footer') %>