<!doctype html>
<html lang="en" id="practice-html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Handlee&family=Rye&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <!-- bootstrap5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Hanford Lam | Piano Studio</title>
    <!-- CURSOR -->
    <style>HTML,BODY{cursor: url("../../images/cursor.cur"), auto;}</style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S7KLNXVSDD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-S7KLNXVSDD');
    </script>
  </head>
  <body class="container-fluid background-transparent">
    <!-- NAVBAR -->
    <nav id="myNav" class="rounded recursive row align-items-center text-center py-2 w-auto">
      <div class="col-lg-5">
        <a id="navIcon" class="my-2 d-block" href='/'>Hanford Lam | Piano Teacher</a>
      </div>
      <div class="col-lg-7">
        <a id="practiceTab" href="/practice" class="mx-4 my-2 d-inline-block navLink">PRACTICE</a>
        <a id="missionsTab" href="/missions" class="mx-4 my-2 d-inline-block navLink">FEATS</a>
        <a id="leaderboardTab" href="/leaderboard" class="mx-4 my-2 d-inline-block navLink">POINTS</a>
        <form id="logoutButton" class="mx-4 my-2 d-inline-block" action="/logout" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn btn-sm btn-secondary">LOG OUT</button>
        </form>        
      </div>
    </nav>
    

      <!-- DYNAMIC NAVBAR AND TITLE -->
      <script>
        let currentPath = window.location.pathname
        if (currentPath == '/practice') {
          document.getElementById("practiceTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        } else if (currentPath == '/missions') {
          document.getElementById("missionsTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        } else if (currentPath == '/leaderboard') {
          document.getElementById("leaderboardTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        }
      </script>
      <div id="container" class="container">
        <!-- ERRORS -->
        <% adErrors.forEach(function(message) { %>
          <div class="alert alert-danger text-center small py-1 mt-2"><%= message %></div>
        <% }) %>

        <!--WALLET-->
        <%- include('includes/wallet') %>

        <!-- PRACTICE HUB -->
        <!-- linebreaks are rendered in textarea placeholder -->
        <div id="practice-guide" class="aboveFalling transparentBG mt-2 mb-4 section">
          <div class="py-4 my-4 mb-2 mx-0">

            <!--DISPLAY WEEKLY COMMENTS-->
            <% latestComments.forEach((comment) => { %>
              <div id="weeklySnapshot" class="mt-0 mb-5 px-5 py-5 rounded recursive">
                <form action="/sendCheckedSnapshot" method="POST" id="sendCheckedSnapshot">
                
                  
                  <!--DISPLAY FEEDBACK AFTER SENDING CHECKED LIST-->
                  <% if (status == 'fail') { %>
                    <div id="contacterror" class="alert alert-danger text-center small mt-1 py-2">Sorry, your checked list couldn't be sent... that's OK. How about asking mum or dad to send me a picture on Whatsapp?</div>
                  <% } else if (status == 'success') { %>
                    <div id="contactsuccess" class="alert alert-success text-center small mt-1 py-2">Got it. Thanks for the update!</div>
                  <% } %>
                  <div id="printable-area">
                    <%- filterUserHTML(comment.comments) %>
                  </div>
                  

                  <div id="send-checked-prompt" class="text-center mt-5">
                    <p class="mt-5 small" style="color: blueviolet;max-width: 50%; margin-left: auto; margin-right: auto;">☝ <i>Check off each numbered item by clicking it, then let Hanford know what you worked on today! 👇</i></p>
                  </div>

                  <!--SEND CHECKED-->
                  <div id="sendChecked" class="text-center my-1">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="mx-3 my-3 btn btn-success btn-lg">Alert Hanford of today's checked list</button>
                  </div>
                </form>
                  <!--PRINT COMMENTS-->
                  <div id="print-button" class="text-center my-1">
                    <button class="mx-3 my-3 btn btn-secondary btn-lg" href="#" onclick="printDiv('printable-area')">Print this week's comments</button>
                  </div>
                  <!--PRACTICE GUIDE-->
                  <div id="practice-guide-button" class="text-center my-1">
                    <button class="mx-3 my-3 btn btn-warning btn-lg" onclick="window.open('../files/practice-guide.pdf')">Open Practice Guide</button>
                  </div>
          </div> 
               
                <!--use js add checkboxes to each list element, css to apply strikethrough, on Button press - send checked list to server to email Hanford-->
                <script>
                  let practiceList = document.getElementById("weeklySnapshot");
                  let practiceItems = practiceList.getElementsByTagName('li')
                  
                  // add checkboxes to each list item
                  for (let i = 0; i < practiceItems.length; i++) {
                    console.log()
                    practiceItems[i].innerHTML = "<span><input type='checkbox' name='" + practiceItems[i].parentElement.previousSibling.previousSibling.innerText + "' value='" + practiceItems[i].innerText + "' id='"  + practiceItems[i].innerText + "'><label for='" + practiceItems[i].innerText + "'>" + practiceItems[i].innerText + "</label></span>"
                  }

                </script>
                
            <% }) %>
            <!--RECORDED LESSON-->
            <div id="recordedLesson" class="aboveFalling mb-5 rounded">
              <% if(recordedLessonURL){ %>
              <div class="responsive-container">
                <iframe style="z-index: 99999;" class="" width="100%" height="500px" src="https://www.youtube.com/embed/<%= recordedLessonURL %>" title="Latest lesson recording" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <% } %>
            </div>
            <!-- keep csrf token accessible, use lowercase for dataset entries! -->
            <span id="csrf-landmark" data-value="<%= csrfToken %>" data-username="<%= username %>" data-studentid="<%= userId %>"></span>
            <span id="guessTheTempo"></span>
            <!-- Guess the Tempo -->
            <% if (BPMStatus == 'success') { %>
              <div id="bpm-success" class="aboveFalling green-text text-center mt-4 pt-4" style="margin-bottom: 150px;">
                <img src='../images/metronome-colour.png' alt='blinking!' id='blinking_image' class="mb-4 d-block mx-auto"/>
                <p class="black-bg d-inline-block p-3 rounded">Correct, <%= randomBPM %>! Your sense of tempo is great.
                <br>The Piano Wizard has put 3 points in your wallet.</p>
              </div>
            <% } else if (BPMStatus == 'notQuite') { %>
              <div id="bpm-almost" class="aboveFalling pink-text text-center mt-4 pt-4" style="margin-bottom: 150px;">
                <img src='../images/metronome-colour.png' alt='blinking!' id='blinking_image' class="mb-4 d-block mx-auto"/>
                <p class="black-bg d-inline-block p-3 rounded">Try again tomorrow! The tempo is <%= randomBPM %> beats per minute.<br>
                The Piano Wizard has put 3 points in your wallet.</p>
              </div>
            <% } else { %>
              <div class="d-flex justify-content-center">
                <form action="/guessBPM" method="POST" style="background-color: rgba(0, 0, 0, 0.775); margin-bottom: 150px;" class="aboveFalling form-inline d-inline-block text-center rounded p-4 mt-5 pt-5 justify-content-center">
                  <p class="white-text caveat" style="font-size: 2em;">Guess the Tempo</p>
                  <img src='../images/metronome-colour.png' alt='blinking!' id='blinking_image' />
                <div class="form-group ml-4 mt-3">
                  <input type="range" min="20" max="200" step="10" name="bpmGuess" id="bpmGuess" class="input-lg mx-sm-3" oninput="num.value = this.value">
                  <output style="width:3rem;" class="mr-0 pr-0 white-text" id="num">110</output>
                  <small id="passwordHelpInline" class="text-muted">
                    beats per minute
                  </small>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button type="submit" class="btn btn-success ms-3">Guess</button>
                </div>
              </form>
              </div>
              
            <% } %>
            <script>
             // Guess the tempo
              var img = document.getElementById('blinking_image');

              var interval = window.setInterval(function(){
                if (img.style.visibility == 'hidden') {
                 img.style.visibility = 'visible';
                } else{
                  img.style.visibility = 'hidden';
                }
             }, 30000/<%- randomBPM %>);
            </script>
            <!--DISPLAY CONVERSATION-->
            <div class="d-flex justify-content-center" style=" min-width:0;">
              <div class="d-flex flex-column" style=" min-width:0;">
                <div id="practiceConversationContainer" class="d-flex flex-column topShadow rounded my-5 py-3" style="max-width:960px; min-width:0; z-index: 1;overflow-y: scroll;height:400px;">
                  <div id="practiceConversation" class="mx-auto px-4" style="z-index: 100; min-width:0; max-width: 100%;">
                    <% practiceConversation.forEach((entry) => { 
                      if(entry[0] == 'You') { %>
                        <div class="convo-p-wrapper black-text px-3 py-2 my-3 rounded" style="background-color: rgba(255, 255, 255, 0.97)"><strong class="orange-text"><%= entry[0] %></strong> <%- filterUserHTML(entry[1]) %></div>
                      <% } else if(entry[0] == 'Hanford') { %>
                        <div class="convo-p-wrapper black-text px-3 py-2 my-3 rounded" style="background-color: rgba(255, 255, 255, 0.97)"><strong class="purple-text"><%= entry[0] %></strong> <%- filterUserHTML(entry[1]) %></div>
                      <% }
                    }) %>
                    <div style="height:15px;"></div>
                  </div>
                    <!--DISPLAY REPLY BOX IF NO PRACTICE STATUS-->
                    <% if (!practiceStatus) { %>
                      <form id="PracticeConvo" class="m-4" style="max-width:960px;" action="/updateLastSubmittedDateAndAddPoints" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="form-group text-center" style="width:100%;margin:0 auto;">
                          <textarea autocomplete="off" name="practiceConversation" class="form-control" style="background-color: rgba(30, 20, 51, 0.927);color:chartreuse;" 
                          placeholder="<%= practicePrompt %>&#10; &#10;" id="practiceConversation" rows="6"></textarea>
                          <div class="d-grid">
                            <button  type="submit" class="btn btn-success btn-block mt-4" style="font-size: 1.2rem; border:3px solid white">Send my message to Hanford</button>
                          </div>
                          
                        </div>
                      </form>
                    <% } else { %>
                      <div id="practice-success" class="recursive text-center mt-5 my-2">
                        <p class="black-bg d-inline-block p-3 rounded"><span class="green-text">Hanford will reply soon! Ask Mum or Dad if you need to send another message.</span><br><span class="orange-text">3 points have been added to your wallet.</span></p>
                      </div>
                    <% } %>
              
                </div>


              
              <script>
                let practiceConversationContainer = document.getElementById('practiceConversationContainer')
                practiceConversationContainer.scrollTop = practiceConversationContainer.scrollHeight
              </script>
              
              </div>
          
            </div>
            
          </div>
        </div>

        <script>

          // PRINT FEATURE PLAIN TEXT
          function printDiv(elementId) {
            var prtContent = document.getElementById(elementId);
            prtContent.querySelectorAll('input[type="checkbox"]').forEach(el => el.remove())
            
            var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
            WinPrint.document.write('<span style="font-size:150%">' + prtContent.innerHTML + '</span>');
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
          }

          // prevent CONVO multisubmits
          try {
            (function() {
              let frm = document.getElementById("PracticeConvo")
              var allowSubmit = true;
              frm.onsubmit = function () {
                if (allowSubmit)
                    allowSubmit = false;
                else 
                    return false;
              }
            })();
          } catch(err) {
            console.log(err);
          }

          // prevent CHECKLIST multisubmits
          try {
            (function() {
              let frm = document.getElementById("sendCheckedSnapshot")
              var allowSubmit = true;
              frm.onsubmit = function () {
                if (allowSubmit)
                    allowSubmit = false;
                else 
                    return false;
              }
            })();
          } catch(err) {
            console.log(err);
          }
        </script>

        <script>
          // DRAGGABLE WALLET
          var dragItem = document.querySelector(".draggable");
          var container = document.querySelector("#container");

          var active = false;
          var currentX;
          var currentY;
          var initialX;
          var initialY;
          var xOffset = 0;
          var yOffset = 0;

          container.addEventListener("touchstart", dragStart, false);
          container.addEventListener("touchend", dragEnd, false);
          container.addEventListener("touchmove", drag, false);

          container.addEventListener("mousedown", dragStart, false);
          container.addEventListener("mouseup", dragEnd, false);
          container.addEventListener("mousemove", drag, false);

          function dragStart(e) {
            if (e.type === "touchstart") {
              initialX = e.touches[0].clientX - xOffset;
              initialY = e.touches[0].clientY - yOffset;
            } else {
              initialX = e.clientX - xOffset;
              initialY = e.clientY - yOffset;
            }

            if (e.target === dragItem) {
              active = true;
            }
          }

          function dragEnd(e) {
            initialX = currentX;
            initialY = currentY;

            active = false;
          }

          function drag(e) {
            if (active) {
            
              e.preventDefault();
            
              if (e.type === "touchmove") {
                currentX = e.touches[0].clientX - initialX;
                currentY = e.touches[0].clientY - initialY;
              } else {
                currentX = e.clientX - initialX;
                currentY = e.clientY - initialY;
              }

              xOffset = currentX;
              yOffset = currentY;

              setTranslate(currentX, currentY, dragItem);
            }
          }

          function setTranslate(xPos, yPos, el) {
            el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
          }

          // rainbow headings
            window.addEventListener("load", function() {
            let elements = document.getElementsByClassName("rainbowText");
            for (let i = 0; i < elements.length; i++) {
              generateRainbowText(elements[i]);
            }
          })
          
          function generateRainbowText(element) {
            let text = element.innerText;
            element.innerHTML = "";
            for (let i = 0; i < text.length; i++) {
              let charElem = document.createElement("span");
              charElem.style.color = "hsl(" + (360 * i / text.length) + ",100%,50%)";
              charElem.style.fontWeight = "bold";
              charElem.style.textShadow = "0px 4px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), -4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 0px -4px 5px hsl(" + (360 * i / text.length) + ",80%,20%)";
              charElem.innerHTML = text[i];
              element.appendChild(charElem);
            }
          }
        
        </script>
    

      <!-- Footer -->
      <footer class="footer text-center small white-text py-3">
          <p class="m-0 raleway">Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href='/' class="white-text raleway">hanfordlam.com</a>. All rights reserved.</p>
          <p class="m-0">Background drawn by sweetcutiepie</p>
      </footer>
    </div> <!-- close out page container div -->
    <!-- BOOTSTRAP 5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../../main-bundled.js"></script>
  </body>
</html>