<%- include('includes/header') %>
<!-- FONT AWESOME -->
<script src="https://kit.fontawesome.com/25ae9b8317.js" crossorigin="anonymous"></script>
<!--SNOWFLAKES FOR WINTER-->
<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
</div>

<!-- ERRORS -->
<% adErrors.forEach(function(message) { %>
  <div class="alert alert-danger text-center small py-1 mt-2"><%= message %></div>
<% }) %>

<div class="wallet-div bellota grey-text inline draggable">
  <strong style="color: <%= leaderboardColor %>"><%= username %></strong>'s wallet<br>
  <span class="pink-text"><strong><%= points %></strong></span> points<br>
  <span class="yellow-text"><%= lessonCount %></span>/<span class="orange-text"><%= paidLessons %></span> lessons<br>
  <a href="/practice" type="button" class="my-1 btn btn-info btn-sm">Practice</a>
  <a href="/parents" type="button" class="my-1 btn btn-warning btn-sm">Record</a><br>
  <a href="/missions" type="button" class="my-1 btn btn-danger btn-sm">Missions</a>
  <a href="/leaderboard" type="button" class="my-1 btn btn-success btn-sm">Prizes</a>
  <form id="logoutButton" class="mt-1 mb-2" action="/logout" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit" class="btn btn-secondary btn-sm">Log Out</button>
  </form>
</div>

<!-- PRACTICE HUB -->
<!-- linebreaks are rendered in textarea placeholder -->
<div id="practice-guide" class="mt-2 mb-4 section">
  <div class="py-4 my-4 mb-2 mx-0"><h1 id="headingText" class="px-5 display-2 recursive rainbowText text-center">PRACTICE</h1>
    <% if (practiceStatus) { %>
    <div id="practice-success" class="recursive text-center my-2">
      <p><span class="green-text">Come back tomorrow for Hanford's reply!</span><br><span class="orange-text">Some points have been added to your wallet.</span></p>
    </div>
    <% latestComments.forEach((comment) => { %>
      <div id="weeklySnapshotUnchecked" class="mt-5 px-1"><%- filterUserHTML(comment.comments) %></div>  
      <div id="print-button" class="text-center my-5 pt-5 pb-2">
        <button class="mx-3 btn btn-outline-secondary btn-sm" href="#" onclick="printDiv('weeklySnapshotUnchecked')">Print notes</button>
      </div>
    <% }) %>
    <% } else { %>
      <form id="PracticeConvo" class="my-2" action="/updateLastSubmittedDateAndAddPoints" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <% latestComments.forEach((comment) => { %>
          <div id="weeklySnapshot" class="mt-5 px-1"><%- filterUserHTML(comment.comments) %></div>  
          <div id="print-button" class="text-center mt-5 pt-5 pb-2">
            <button class="mx-3 my-5 btn btn-outline-secondary btn-sm" href="#" onclick="printDiv('weeklySnapshot')">Print notes</button>
          </div>
        <% }) %>
        <div class="form-group text-center" style="width:80%;margin:0 auto;">
          <textarea autocomplete="off" name="practiceConversation" class="form-control" style="background-color: rgb(30, 20, 51);color:chartreuse;" 
          placeholder="<%= practicePrompt %>&#10; &#10; Hanford's latest reply:&#10; &#10132; <%= practiceReply %>" id="practiceConversation" rows="6"></textarea>
          <button  type="submit" class="btn btn-outline-success btn-lg mt-4" style="font-size: 1.2rem;">Click here to earn your daily points!</button>
        </div>
      </form>
    <% } %>
  </div>
</div>

<div class="arrowcontainer">
  <div class="arrow-holder">
    <div id="arrow" class="circle bounce">
        <i class="fas fa-angle-double-down fa-4x drop-arrow"></i>
    </div>
  </div>
</div>

<!-- INTERESTING VIDEO -->
<% if(interestingVideoURL){ %>
<h3 id="interestingVideo" class="text-center dark-orange-text my-5">Tired? Relax with an interesting video.</h3>
<p class="text-center grey-text mb-5"><%= interestingVideoPrompt %></p>
<iframe class="mb-5" width="100%" height="500px" src="<%= interestingVideoURL %>" title="Hanford's Video Pick" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<% } %>

<div class="arrowcontainer">
  <div class="arrow-holder">
    <div id="arrow" class="circle bounce">
        <i class="fas fa-angle-double-down fa-4x drop-arrow"></i>
    </div>
  </div>
</div>

<!-- READING PRACTICE -->
<% if(readingPracticePDFPath){ %>
<h3 class="text-center dark-orange-text my-5">Refreshed? Let's do some reading practice.</h3>
<p class="text-center grey-text"><%= readingPracticePrompt %></p>
<p class="text-center grey-text mb-5"><a href="<%= readingPracticePDFPath %>" target="_blank">Link</a> to PDF if below does not display correctly on mobile devices.</p>
<iframe src="<%= readingPracticePDFPath %>" width="100%" height="1500px"></iframe>
<% } %>

<script>
  // PRINT FEATURE PLAIN TEXT
  function printDiv(elementId) {
    var prtContent = document.getElementById(elementId);
    var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
    WinPrint.document.write(prtContent.innerHTML);
    WinPrint.document.close();
    WinPrint.focus();
    WinPrint.print();
  }

  try {
    //focus textbox
    document.getElementById('practiceConversation').focus()
  } catch(err) {
    console.log(err);
  }

  //placing headings
  try {
    document.getElementById("weeklySnapshotUnchecked").querySelectorAll('h1').forEach(h1 => h1.classList.add('ml-5'))
  } catch(err) {
    console.log(err);
  }
  try {
    document.getElementById("weeklySnapshot").querySelectorAll('h1').forEach(h1 => h1.classList.add('ml-5'))
  } catch(err) {
    console.log(err);
  }

  //add or remove checks
  let re = /c(\d+) (.*) c\d+/g;
  try {
    let commentsDiv = document.getElementById("weeklySnapshot");
    let newstr = commentsDiv.innerHTML.replace(re, '<input type="checkbox" id="c'+'$1'+'" name="c'+'$1'+'" value="'+'$2'+'"><label for="c'+'$1'+'">'+'$2'+'</label>');
    commentsDiv.innerHTML = newstr
  } catch(err) {
    console.log(err);
  }
  try {
    let commentsDivUnchecked = document.getElementById("weeklySnapshotUnchecked");
    let newUncheckedStr = commentsDivUnchecked.innerHTML.replace(re, '$2');
    commentsDivUnchecked.innerHTML = newUncheckedStr
  } catch(err) {
    console.log(err);
  }

  // prevent multisubmits
  try {
    (function() {
      let frm = document.getElementById("PracticeConvo")
      var allowSubmit = true;
      frm.onsubmit = function () {
        if (allowSubmit)
            allowSubmit = false;
        else 
            return false;
      }
    })();
  } catch(err) {
    console.log(err);
  }
</script>

<%- include('includes/footer') %>