<%- include('includes/header') %>
<!-- LOGIN FORM -->

<div class="justify-content-center text-center py-5 my-4">
  <p class="text-center grey-text h2 handlee">"Believe you can and<br>you're halfway there."</p>
  <p class="text-muted">~ Theodore Roosevelt</p>
  <br>
  <div id="pikachuDiv"><img class="ml-5" id="pikachuMusic" src="../images/pikachu.gif" alt="https://imgur.com/75tvQck?nc=1"></div>
  <% errors.forEach(function(message) { %>
    <div class="alert alert-danger text-center d-inline small mb-3 py-1"><%= message %></div>
  <% }) %>
  <div class="d-flex mt-3 justify-content-center">
    
    <form action="/login" method="POST" class="">
      <input autocomplete="off" type="text" name="username" class="text-center form-control-lg d-block mb-2 mr-sm-2" placeholder="USERNAME" id="mainUsernameInput">
      <input autocomplete="off" type="password" name="password" class="text-center form-control-lg d-block mb-2 mr-sm-2" placeholder="PASSWORD">
      <div class="d-flex justify-content-center">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" id="login-button" class="btn btn-info btn-lg mt-2 mb-3">Log in</button>
      </div>
    </form>
  </div>
</div>



<!-- REGISTER FORM -->
<hr>
<form id="registration-form" class="text-center justify-content-center my-5 mx-5 px-3" action="/register" method="POST">
    <% regErrors.forEach(function(message) { %>
      <div class="alert alert-danger small py-1"><%= message %></div>
    <% }) %>
    <h2 class="caveat text-center grey-text mt-4 mb-3">Fill these out to make an account</h2>
    <div id="fNameDiv" class="input-group mb-3">
      <input id="fNameInput" autocomplete="off" type="text" name="fName" class="text-center form-control-lg" value="" placeholder="Student's first name">
    </div>
    <div id="lNameDiv" class="input-group mb-3">
      <input id="lNameInput" autocomplete="off" type="text" name="lName" class="text-center form-control-lg" value="" placeholder="Student's last name">
    </div>
    <div id="parentNameDiv" class="input-group mb-3">
      <input id="parentNameInput" autocomplete="off" type="text" name="parentName" class="text-center form-control-lg" value="" placeholder="Parent's first name">
    </div>
    <div id="emailDiv" class="input-group mb-3">
      <input id="emailInput" autocomplete="off" type="email" name="email" class="text-center form-control-lg" value="" placeholder="Email address">
    </div>
    <div id="mobileDiv" class="input-group mb-3">
      <input id="mobileInput" autocomplete="off" type="tel" name="mobile" class="text-center form-control-lg" value="" placeholder="Mobile number (eg. 0412345678)">
    </div>
    <div id="usernameDiv" class="input-group mb-3">
      <input id="usernameInput" autocomplete="off" type="text" name="username" class="text-center form-control-lg" value="" placeholder="Make a username">
    </div>
    <div id="passwordDiv" class="input-group mb-3">
      <input id="passwordInput" autocomplete="off" type="password" name="password" class="text-center form-control-lg" value="" placeholder="Create a password">
    </div>
    <div id="secretDiv" class="input-group mb-3">
      <input id="secretInput" autocomplete="off" type="text" name="secret" class="text-center form-control-lg" value="" placeholder="Hanford's secret">
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit" class="btn btn-success btn-lg mt-3">Register</button>
  </form>
</div>

<script>
  document.getElementById("mainUsernameInput").focus();
</script>
<%- include('includes/footer') %>