<%- include('includes/header') %>
        <!-- LOGIN FORM -->
        
        <div class="jumbotron-transparent justify-content-center text-center py-5 my-4">
          <p class="text-center white-text h2 mx-4 handlee">Thanks for contributing to everyone's knowledge!</p>
          <p class="text-center white-text h2 mx-4 mt-3 handlee"><span class="orange-text">100 000</span> points for a Games Day (with prizes)</p>
          <br>
            
            <form action="/logContributor" method="POST" class="">
              <input autocomplete="off" type="text" name="name" class="text-center mb-2 mx-4" placeholder="Name">
              <input autocomplete="off" type="text" name="points" class="text-center mx-4" placeholder="Points">
              <div class="d-flex justify-content-center">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" id="login-button" class="btn btn-success mt-2 mb-3">Award points</button>
              </div>
            </form>
          </div>

          <div class="jumbotron-transparent justify-content-center text-center py-5 my-4">
            <h1 class="text-center mb-3 display-1 recursive"><span class="rainbowText"><%= totalPoints %> POINTS</span></h1></div>
            <% contributorArray.forEach(function(contributor) { 
              let name = contributor.name
              let points = contributor.points
              let date = contributor.date %>
              <div class="alert alert-success text-center"><span style="color:red;font-weight:bold;font-size:1.5rem;"><%= name %></span> contributed <span style="color:red;font-weight:bold;font-size:1.5rem;"><%= points %></span> points on <%= date %></div>
            <% }) %>
            
        
<%- include('includes/footer') %>