<div class="wallet-div bellota black-text inline draggable pb-3">
  <strong style="color: <%= leaderboardColor %>"><%= username %></strong>'s wallet<br>
  <span class="pink-text"><strong><%= points %></strong></span> points<br>
  <strong class="dark-orange-text"><%= lessonCount %></strong> / <strong class="orange-text"><%= paidLessons %></strong> lessons<br>  
  <a class="btn btn-warning btn my-3 d-block" href="/feedback" target="_blank" onclick="href('/feedback')">Feedback</a>
  <a class="btn btn-info btn my-3 d-block" href="/schedule" target="_blank" onclick="href('/schedule')">Schedule</a>
  <!--<p class="text-center dark-green-text mt-1" onclick="lockScreen()" ><strong id="lockScreenText">Screen unlocked</strong></p>-->
</div>
<script>
  // make game playable
  lockScreen = function(){
    if(document.getElementById('lockScreenText').innerText === "Screen locked"){
      document.getElementById('lockScreenText').classList.remove('pink-text')
      document.getElementById('lockScreenText').classList.add('dark-green-text')
      document.getElementById('lockScreenText').innerText = "Screen unlocked"
      enableScroll()
    } else {
      document.getElementById('lockScreenText').classList.remove('dark-green-text')
      document.getElementById('lockScreenText').classList.add('pink-text')
      document.getElementById('lockScreenText').innerText = "Screen locked"
      disableScroll()
    }
    function disableScroll() {
      // Get the current page scroll position
      scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
  
      // if any scroll is attempted, set this to the previous value
      window.onscroll = function() {
          window.scrollTo(scrollLeft, scrollTop);
        };
      }
        
    function enableScroll() {
      window.onscroll = function() {};
    }
  }
</script>
